{load(head)}
<div class="ubLeftSide">
{load(left)}
</div>
<div class="ubtwoRight" id="ubtwoRight">
  <div class="rstitle">详细信息</div>
  <!--$msg = $vd['msg'];-->
  <div class="msgbody">
  	<div class="msginfo">
  		<img src="{$vd['content']}images/member.gif" style="vertical-align:middle;padding-right:10px;"/> <font color="#0099cc">{#DisplayCode($msg['msgfrom'], 4)}</font> 创建于 {$msg['createdate']}
  	</div>
  	<div class="msgsubject">
  		{$msg['title']}
  	</div>
  	<div class="msgcontent">
  		<!--echo nl2br($msg['content']);-->
  	</div>
  </div>
  
  <!--foreach($vd['items'] as $item) {-->
  <div class="replybody">
  	<div class="msginfo">
  		<img src="{$vd['content']}images/member.gif" style="vertical-align:middle;padding-right:10px;"/> <font color="#0099cc">{#DisplayCode($item['msgfrom'], 4)}</font> 创建于 {$item['createdate']}
  	</div>
  	<div class="msgcontent">
  		<!--echo nl2br($item['content']);-->
  	</div>
  </div>
  <!--}-->
  
  <div class="rstitle">回复短消息</div>
  <form method="post" action="index.php?m=mod_agent&c=msg&a=save&parentid={$vd['parentid']}">
  <table class="contentTable">
    <tr>
      <td class="buylt">主题：</td>
      <td class="buyrt"><input type="text" class="myinput" style="font-weight:normal" id="title" name="title" value="Re:{$msg['title']}"/></td>
    </tr>
    <tr>
      <td class="buylt">对方编号：</td>
      <td class="buyrt">
      	<input type="hidden" name="msgto" value="3"/>
      	<input type="text" class="myinput" style="font-weight:normal" id="msgto" name="underlingid" value="{$vd['msgto']}"/> 如果发给系统，编号写0即可，否则写对方的编号
      </td>
    </tr>
    <tr>
      <td class="buylt">回复内容：</td>
      <td class="buyrt">
      <textarea name="content" wrap="VIRTUAL" cols="60" rows="8" scrolling="yes" class="mytextarea"></textarea>
      </td>
    </tr>
    <tr>
      <td class="buylt">是否弹出：</td>
      <td class="buyrt">
      	<input type="checkbox" value="1" name="checktradepwd" /> 收件人浏览器弹出信息
      </td>
    </tr>
    <tr>
      <td class="buylt" height="50px"></td>
      <td class="buyrt">
      	<input type="hidden" name="msgcc_1" />
      	<input type="hidden" name="msgcc_2" /> 
      	<input type="submit" id="mysubmit" value="马上回复" class="button mysubmit"/> 
      	<input type="reset" value="重新填写" class="button myreset"/>
      </td>
    </tr>
  </table>
  </form>
</div>
{load(foot)}
