<div class="clear_div2 footer">
  <dl class="clear_div footer">
    <dt><span id="Technical" class="r">
      <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6422758" ></script>
      <script type="text/javascript" id="bdshell_js"></script>
      <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
      </span><span id="RedShield" class="l">
      <meta name="ROBOTS" content="NOFOLLOW" />
        </span><span class="fl"><a href="About.aspx">关于我们</a>|<a href="Contact.aspx">联系方式</a>|<a
                    href="Help.aspx">帮助中心</a><br />
          &nbsp;&nbsp;版权所有 &copy;{$vd['web']['webname']}<a href="http://www.miibeian.gov.cn/" id="ICPNo" target="_blank">{$vd['web']['beian']} </a></span></dt>
  </dl>
  <div id="FlowStatistics" style="text-align: center;"><a href="http://www.kmphb.com/" target="_blank"></a><a class='jubao' href='http://www.kalegou.com/jubao.htm' target='_blank'></a></div>
</div>
<div id="Theme1_js6">    </div>   </body></html><!--//newhtmlfoot-->

<!--//endhtmlfoot-->