<div class="clear_div2 footer">
        <dl class="clear_div footer">
            <dt><span id="Technical" class="r"><a href="http://www.kmphb.com/" target="_blank"><img src="images/dkpt.png" alt="卡盟" /></a></span><span id="RedShield" class="l"></span><span class="fl"><a href="index.php?m=mod_b2b&a=Dkf">关于我们</a>|<a href="index.php?m=mod_b2b&a=Dkf">联系方式</a>|<a
                    href="index.php?m=mod_b2b&c=Article&a=Homecj&name=%C5%FA%B7%A2%CF%B5%CD%B3%B3%A3%BC%FB%CE%CA%CC%E2">帮助中心</a><br />
                    &nbsp;&nbsp;版权所有 &copy; <a id="Copyright">? Copyright ?  N-VAR-2011{$vd['web']['webname']} 版权所有</a>运营商：<span id="OperatorName">{$vd['web']['webname']}</span> <a href="http://www.miibeian.gov.cn/" id="ICPNo" target="_blank">{$vd['web']['beian']}</a></span></dt>
        </dl>
    </div>
    

<script type="text/javascript">
//<![CDATA[
Setrk('BC54F83E1ECF8274D5814542DF503C50');//]]>
</script>
</form>
    <div id="FlowStatistics" style="text-align: center;"> </div>
</body>
</html>