{load(head)}
<div class="ubLeftSide">
{load(left)}
</div>
<div class='ubtwoRight'>
  <div id="TopSearch">
    <h3><a href="" target="_blank">硬件检测</a></h3>
    <ul>
      <li>
        <form name="search" action="{$vd['root']}index.php?m=mod_b2b&c=product" method="post">
        <span>搜索点卡：</span>
        <input type="text" name="keywords" class="myinput" />
        <select class="myselect" name="typesearch"><option value="product">搜索商品</option><option value="category">搜索目录</option></select>
        <input type="submit" value="查询" class="button"/>
        </form>
      </li>
    </ul>
  </div>
  <!--$item = $vd['item'];-->
  <div class="rstitle">查看我写的汇款通知书</div>
  <table class="contentTable">
    <tr>
      <td class="buylt">主题：</td>
      <td class="buyrt"><input type="text" class="myinput" style="font-weight:normal" id="title" name="title" value="{$item['title']}"/></td>
    </tr>
    <tr>
      <td class="buylt">汇款通知书内容</td>
      <td class="buyrt">
      <textarea name="thiscontent" wrap="VIRTUAL" cols="60" rows="15" scrolling="yes" class="mytextarea">{$item['content']}</textarea>
      <span id="spanstaffpwd"></span></td>
    </tr>
  </table>
</div>
{load(foot)}
