<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css"/>
<style type="text/css">
  #ctable1 td{text-align:center;white-space:normal;word-wrap: break-word; word-break: normal; }
</style>
</head>
<body>
<div id="titleDiv">
<div style="float:left"><a href="index.php?a=Home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div><div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=Home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <a href="index.php?m=mod_b2b&c=PS&tpl=NoStocks&ptype=-1&aid=-1&nrows=2000" title="继续查看缺货信息"><font color="#000">缺货信息</font></a></div>
<div style="float:right;"><a href="index.php?m=mod_home&a=Help&t=admin_b2b_poll_index" onFocus="this.blur()" title="查看缺货相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>
<div id="content" class="cwarpper">
<div class="cbodyHead"></div>
<div class="cwarpper1">
<div class="ctitle">缺货信息(共 <span class="dollars">{$vd['totlerow']}</span> 个商品缺货)</div>
<div>
<table border="1" id="ctable1" class="ctable" bordercolor="#86B9D6">
  <tr class="listhead">
    <td width="58%" style="height:30px;text-align:left"><b>商品名称</b></td>
    <td width="10%" style="height:30px"><b>商品类型</b></td>
    <td width="8%" style="height:30px"><b>总库存</b></td>
    <td width="10%" style="height:30px"><b>供货库存</b></td>
    <td width="5%" style="height:30px"><b>本地</b></td>
    <td width="8%" style="height:30px"><b>管理</b></td>
  </tr>
  <!--foreach($vd['items'] as $item) {-->
  <tr>
    <td width="58%" style="height:30px;text-align:left;">{$item['pname']}</td>
    <td width="10%" style="height:30px">{#ProductType($item['ptype'])}</td>
    <td width="8%" style="height:30px">{$item['totlestocks']}</td>
    <td width="10%" style="height:30px">{$item['supstocks']}</td>
    <td width="5%" style="height:30px">{$item['stocks']}</td>
    <td width="8%" style="height:30px"><a href="?m=mod_b2b&c=sup&a=sup&ubzpid={$item['pid']}"><font color="#00875A">管理</font></a></td>
  </tr>
  <!--}-->
</table>
</div>
</div>

<div class="cbodyFoot"></div>
</div>
<div id="opcontent" style="display:none">
  <div class="optxt">
  </div>
</div>
<script type="text/javascript">
  sc = "{$vd['sc']}";
  var ctablenum = 2;
</script>
<script src="{$vd['sc']}js/content.js" type="text/javascript"></script>
<script type="text/javascript">
  
</script>
</body>
</html>
