<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>所有商品列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <link href="http://www.elingka.com/css/h_skin1/common.css" type="text/css" rel="stylesheet" />
    <link href="http://www.elingka.com/css/h_skin1/page.css" type="text/css" rel="stylesheet" />
</head>
	<tr>
	<td class="tableleft">
		<form name="query" method="get" action="index.php">
<div class="new_qie">
      <div class="new_qie2">
        <h2> 所有商品列表</h2>
        <span class="setup_index">
        <input id="lbtnLogin" type="checkbox" name="lbtnLogin" checked="checked" onClick="javascript:setTimeout(&#39;__doPostBack(\&#39;lbtnLogin\&#39;,\&#39;\&#39;)&#39;, 0)">
          <label for="lbtnLogin">登录后到这页</label>
        </span> </div>
	  <ul>
        <li><a href="../index.php?m=mod_agent&c=Product&a=Create" class="qie_icon qie_icon1" style="padding-left: 38px;"> 发布供货商品</a></li>
	    <li> <a id="lbtn21" class="on" href="#">所有商品列表</a></li>
	    <li> <a id="lbtn22" href="../index.php?m=mod_agent&c=Product&a=Stock">商品库存管理</a></li>
      </ul>
</div>
	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
	<td class="tableleft">
		<form name="query" method="get" ACTION="index.php">
	    <table cellspacing="1" cellpadding="2" class="table5">
          <tr>
            <td width="15%" class="td_left"> 关键字： </td>
            <td width="78%" align="left" class="tableright1"><div align="left">
                <input type="text" size="30" name="keywords" class='input0' value="" />
            </div></td>
          </tr>
          <tr>
            <td class="td_left"> 查询类型： </td>
            <td align="left" class="tableright1"><div align="left">
              <select name="stype">
                <option value="pname">商品名称</option>
                <option value="listprice">商品面值</option>
              </select>
              <select name="ptype">
                <option value="-1" selected="selected">全部类型</option>
                <option value="0">虚拟卡密</option>
                <option value="2">手工充值</option>
                <option value="1">自动充值</option>
                <option value="3">选号商品</option>
              </select>
            </div></td>
          </tr>
          <tr>
            <td class="td_left"></td>
            <td align="left" class="tableright1"><div align="left">
			<input type="hidden" name="m" value="mod_agent"/>
	    <input type="hidden" name="c" value="Product"/>
                <input type="submit" name="Submit2" value=" " class="input_s" />
            </div></td>
          </tr>
        </table>
	
	<tr>
    <table cellspacing="1" cellpadding="0" class="table1" style="margin: 0">
      <tr>
        <th width="6%"><span class="heardertop1">商品ID</span></th>
        <th width="8%"><span class="heardertop1">商品排序</span></th>
        <th width="26%"><span class="heardertop1">商品名称</span></th>
        <th width="14%"><span class="heardertop1">商品类型</span></th>
        <th width="8%"><span class="heardertop1">面值</span></th>
        <th width="6%"><span class="heardertop1">状态</span></th>
        <th width="4%"><span class="heardertop1">手续费</span></th>
        <th width="4%"><span class="heardertop1">权限</span></th>
        <th width="6%"><span class="heardertop1">审核</span></th>
        <th width="5%"><span class="heardertop1">库存</span></th>
        <th width="4%"><span class="heardertop1">定价</span></th>
        <th width="4%">编辑</th>
        <th width="5%"><div align="center"><span class="heardertop1">删除</span></div></th>
      <!--foreach($vd['items'] as $item) {-->
	  	  	    <tr class="trd">
        <td>{$item['pid']}</td>
        <td>{$item['ordering']}</td>
        <td>{$item['pname']}</td>
        <td>{#ProductType($item['ptype'])}</td>
        <td>{$item['listprice']}</td>
        <td><!--if($item['sell']==0){-->
            <font color=#ff0000>禁售</font>
            <!--}else{-->
            <font color=#0000ff>销售</font>
            <!--}--></td>
        <td><!--echo $item['pfee']*100;-->
          %</td>
        <td><!--if($item['tosys']==1){-->
            <font color=#ff0000>全局</font>
            <!--}else{-->
            <font color=#0000ff>下级</font>
            <!--}--></td>
        <td><!--if($item['checked']==0){-->
            <font color=#ff0000>未审</font>
            <!--}else{-->
            <font color=#0000ff>已审</font>
            <!--}--></td>
        <td><a href="index.php?m=mod_agent&c=Card&a=add&id={$item['pid']}"> 添加 </a> </td>
        <td><a href="index.php?m=mod_agent&c=product&a=Price&pid={$item['pid']}"><u>定价</u></a></td>
        <td><a href="index.php?m=mod_agent&c=Product&a=Detail&pid={$item['pid']}">修改</a></td>
        <td><!--if($item['ptype']<100){-->
            <a href="index.php?m=mod_agent&c=Product&a=DestroyItems&id={$item['pid']}" onClick="{if(confirm('确认要删除{$item['pname']}吗？')){return true;}return false;}">删除</a>
            <!--}else{-->
          &nbsp;
          <!--}--></td>
      </tr>
      <!--}-->
    </table></td>
 <script language="javascript" type="text/javascript" src="../../index/js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="../../index/js/select.js"></script>
	<div id="page" align="right">
		{load(fpage)}
	</div>
	
	<div style="display:none">
	<input type="submit" name="Submit" value="更新序号" class="button2"> <input type="reset" name="reset" value="重新填写" class="button2"> <input type="button" name="autotomanual" class="button2" value="充值切换" onClick="javascript:openScript('#','autosavesetup',600,400);"> <input type="button" name="nosaletime" class="button2" value="手工禁售" onClick="javascript:openScript('#','setuptime',600,220);">
  </div>
	
	<br>
	<br>
</body>
</html>
