IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
HTML {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #666666; PADDING-TOP: 0px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: center
}
TD {
	FONT-SIZE: 12px
}
#w3cn {
	
}
clear {
	CLEAR: both
}
A {
	COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.mainbg {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/body_bg.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #8dc4ec
}
.infobg {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/body_bg.jpg); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #8dc4ec
}
.button {
	BORDER-TOP-WIDTH: 0px; BACKGROUND-POSITION: left top; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/fbutton.jpg); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 95px; COLOR: #ffffff; LINE-HEIGHT: 32px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 32px; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px
}
.input {
	BORDER-RIGHT: #78b5e4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #78b5e4 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #78b5e4 1px solid; COLOR: #1555ea; PADDING-TOP: 3px; BORDER-BOTTOM: #78b5e4 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e3f5fe
}
.input1 {
	BORDER-RIGHT: #83a5d8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #83a5d8 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #83a5d8 1px solid; COLOR: #1555ea; PADDING-TOP: 3px; BORDER-BOTTOM: #83a5d8 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ecf3ff
}
.main {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 100%; PADDING-TOP: 0px
}
.topinfo {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/ftop_bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; COLOR: #fff; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 28px; TEXT-ALIGN: right
}
.topinfo A {
	COLOR: #fff
}
.topinfo A:hover {
	COLOR: #ffff00
}
.topinfoleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 245px; PADDING-TOP: 2px; TEXT-ALIGN: center
}
.topinfoleft A {
	MARGIN: 0px 3px
}
.topinforight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 15px 0px 0px; WIDTH: 680px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.topinforight A {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 8px 3px; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(../images/point1.gif); PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.point {
	
}
.logoad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/logo_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 99px
}
.logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 250px; PADDING-TOP: 24px
}
.topad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 650px; PADDING-TOP: 20px; TEXT-ALIGN: right
}
.nav {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/nav_bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 32px
}
.nav UL {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-TOP: 0px
}
.nav LI {
	PADDING-RIGHT: 26px; BACKGROUND-POSITION: right center; PADDING-LEFT: 25px; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(../images/nav_ge.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 32px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 32px; TEXT-ALIGN: center
}
.nav LI A {
	DISPLAY: block; COLOR: #ffffff
}
.nav LI A:hover {
	DISPLAY: block; COLOR: #ffff66
}
.nav LI SPAN {
	
}
.login {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/login_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; WIDTH: 238px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 290px
}
.logintop {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/logintop.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 238px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 41px
}
#tabs5 {
	
}
#tabls5 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.menu5 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 13px; HEIGHT: 21px
}
.menu5 LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right top; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/logintype2.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 4px; WIDTH: 55px; CURSOR: pointer; COLOR: #052a5a; LINE-HEIGHT: 21px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 21px; TEXT-ALIGN: center
}
.menu5 LI.hover {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(../images/logintype1.gif); COLOR: #fff; LINE-HEIGHT: 21px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
.main5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 228px; PADDING-TOP: 0px
}
.main5 UL {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.main5 LI {
	FLOAT: left; WIDTH: 228px; LIST-STYLE-TYPE: none
}
.main5 UL.block {
	DISPLAY: block
}
.middlead {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 480px; PADDING-TOP: 0px; HEIGHT: 125px; TEXT-ALIGN: left
}
DIV#MainPromotionBanner {
	WIDTH: 480px; HEIGHT: 120px
}
#MainPromotionBanner #SlidePlayer {
	MARGIN: 0px auto; POSITION: relative
}
#MainPromotionBanner .Slides {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 120px
}
#MainPromotionBanner .Slides LI {
	FLOAT: left; WIDTH: 480px; HEIGHT: 120px
}
#MainPromotionBanner .Slides IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 480px; HEIGHT: 120px; BORDER-RIGHT-WIDTH: 0px
}
#MainPromotionBanner .SlideTriggers {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; Z-INDEX: 10; RIGHT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 90px; HEIGHT: 25px
}
#MainPromotionBanner .SlideTriggers LI {
	DISPLAY: inline; FONT-SIZE: 0.9em; BACKGROUND: url(../images/slide_trigger.gif) no-repeat center center; FLOAT: left; MARGIN: 3px 6px; OVERFLOW: hidden; WIDTH: 16px; CURSOR: pointer; COLOR: #74a8ed; LINE-HEIGHT: 16px; FONT-FAMILY: Arial; HEIGHT: 16px; TEXT-ALIGN: center
}
#MainPromotionBanner .SlideTriggers LI.Current {
	BORDER-TOP-WIDTH: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 1.4em; BACKGROUND: url(../images/slide_trigger_c.gif) no-repeat center center; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 0px 6px; WIDTH: 21px; COLOR: #fff; LINE-HEIGHT: 21px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.homemain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 960px; PADDING-TOP: 3px; BACKGROUND-COLOR: #ffffff
}
.mainleftside {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 250px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.mainmiddleside {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 480px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.mainrightside {
	PADDING-RIGHT: 0px; PADDING-LEFT: 7px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 222px; PADDING-TOP: 0px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.row {
	MARGIN-BOTTOM: -10000px; PADDING-BOTTOM: 10000px
}
.newscenter {
	BORDER-RIGHT: #b0d0ed 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #b0d0ed 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #b0d0ed 1px solid; WIDTH: 723px; PADDING-TOP: 0px; BORDER-BOTTOM: #b0d0ed 1px solid; HEIGHT: 280px; BACKGROUND-COLOR: #ffffff
}
.gg {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/gg_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px auto 6px; WIDTH: 480px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 245px
}
.ggtop {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/ggtop.gif); PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.ggtop SPAN {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.ggmain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 5px 5px; PADDING-TOP: 0px
}
.ggmain UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.ggmain LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(../images/x2.gif); PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 25px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 25px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.ggmain LI SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 50px; FONT-SIZE: 11px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #035cc9; PADDING-TOP: 0px
}
.ggmain LI A {
	
}
.ggmain LI A:hover {
	COLOR: #ff3300
}
.ggmain LI IMG {
	MARGIN: 4px 0px
}
.qa {
	BACKGROUND-POSITION: left bottom; FLOAT: left; BACKGROUND-IMAGE: url(../images/qa_bg.gif); MARGIN: 0px; WIDTH: 220px; BACKGROUND-REPEAT: no-repeat
}
.qatop {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/helptop.gif); PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 38px
}
.qatop SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 14px
}
.qamain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; PADDING-TOP: 0px; HEIGHT: 250px
}
.qamain UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.qamain LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 5px top; PADDING-LEFT: 15px; BACKGROUND-IMAGE: url(../images/x1.gif); PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 23px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 24px; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.qamain LI A {
	
}
.qamain LI A:hover {
	COLOR: #ff3300
}
.quicklink {
	FLOAT: left; MARGIN: 0px 0px 5px; WIDTH: 220px; TEXT-ALIGN: left
}
.quicklink IMG {
	FLOAT: left
}
.webservice {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 920px; PADDING-TOP: 0px
}
.csadd {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/gg_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 5px; WIDTH: 480px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 215px; BACKGROUND-COLOR: #ffffff
}
.csaddtop {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(../images/cstop.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.csaddtop SPAN {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.csaddmain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 5px
}
.csaddmain UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 460px; PADDING-TOP: 0px
}
.csaddmain LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 8px center; PADDING-LEFT: 18px; FLOAT: left; BACKGROUND-IMAGE: url(../images/cs_point.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 97px; COLOR: #666666; PADDING-TOP: 7px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 23px; TEXT-ALIGN: left
}
.csaddmain A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
.csaddmain LI A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px; PADDING-TOP: 0px
}
.cs {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/login_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 5px 0px 5px 5px; WIDTH: 238px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat
}
.cstop {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/kftop.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 238px; LINE-HEIGHT: 41px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 41px
}
.csmain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px auto; WIDTH: 230px; PADDING-TOP: 0px
}
.csmain A {
	PADDING-RIGHT: 3px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.servicephone {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
.servicephone UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.servicephone LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 25px; TEXT-ALIGN: left
}
.hk {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/gg_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 480px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
.hktop {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/hktop.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 27px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px
}
.hkmain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.hkmain UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px auto 0px; PADDING-TOP: 0px
}
.hkmain LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 230px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 76px; TEXT-ALIGN: left
}
.hkmain LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 40px; PADDING-TOP: 10px; LIST-STYLE-TYPE: none
}
.ad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 0px; WIDTH: 220px; PADDING-TOP: 0px
}
.ad IMG {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 6px; PADDING-TOP: 0px
}
.link {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/login_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; WIDTH: 238px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 229px
}
.linktop {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/linktop.gif); PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 41px
}
.linkmain {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 238px; PADDING-TOP: 0px; HEIGHT: 180px
}
.linkmain UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 220px; PADDING-TOP: 0px
}
.linkmain LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 110px; PADDING-TOP: 7px; LIST-STYLE-TYPE: none; HEIGHT: 38px; TEXT-ALIGN: center
}
.foot {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/bottom_bg.gif); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 115px
}
.gs {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 280px; PADDING-TOP: 20px; HEIGHT: 40px; TEXT-ALIGN: left
}
.gs A {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 20px
}
.webinfo {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 590px; COLOR: #0f2040; LINE-HEIGHT: 22px; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.webinfo A {
	COLOR: #0f2040
}
.newsmain {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(../images/news_main_bg.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 960px; PADDING-TOP: 8px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #e1eaf9
}
.newsleft {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/news_left.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 230px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 644px
}
.newsright {
	BORDER-RIGHT: #b0d0ed 1px solid; PADDING-RIGHT: 0px; BACKGROUND-POSITION: right top; BORDER-TOP: #b0d0ed 1px solid; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/newsright.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #b0d0ed 1px solid; WIDTH: 720px; PADDING-TOP: 0px; BORDER-BOTTOM: #b0d0ed 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 642px; BACKGROUND-COLOR: #ffffff
}
.newsbar {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(../images/bar_bg.jpg); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 63px; TEXT-ALIGN: left
}
.urlbar {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(../images/bar_bg1.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 63px; TEXT-ALIGN: left
}
.regbar {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(../images/bar_bg1.gif); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 63px; TEXT-ALIGN: left
}
.newsbar {
	BACKGROUND-POSITION: center bottom; BACKGROUND-IMAGE: url(../images/bar_bg.jpg); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 63px; TEXT-ALIGN: left
}
.site {
	PADDING-RIGHT: 10px; PADDING-LEFT: 20px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #011e42; LINE-HEIGHT: 24px; PADDING-TOP: 20px; FONT-FAMILY: "ËÎÌו"; HEIGHT: 24px; TEXT-ALIGN: right
}
.newsmenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 40px 0px 0px; PADDING-TOP: 0px; HEIGHT: auto; TEXT-ALIGN: left
}
.newsmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.newsmenu LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left 5px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/newsmenu1.gif); PADDING-BOTTOM: 0px; WIDTH: 191px; CURSOR: pointer; COLOR: #000; LINE-HEIGHT: 36px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 36px; TEXT-ALIGN: left
}
.newsmenu LI.active {
	BACKGROUND-POSITION: left 5px; DISPLAY: block; BACKGROUND-IMAGE: url(../images/newsmenu.gif); COLOR: #fff; BACKGROUND-REPEAT: no-repeat
}
.newslist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 30px 0px 0px; PADDING-TOP: 0px
}
.newslist UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 680px; PADDING-TOP: 0px
}
.newslist LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: left bottom; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(../images/x2.gif); PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; LINE-HEIGHT: 30px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 30px; TEXT-ALIGN: left
}
.newslist LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.newslist LI A:hover {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.newslist LI SPAN {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; FONT-SIZE: 11px; FLOAT: right; PADDING-BOTTOM: 0px; COLOR: #036fff; PADDING-TOP: 0px
}
.page {
	FLOAT: left; MARGIN: 20px auto; WIDTH: 98%; LINE-HEIGHT: 35px; HEIGHT: 35px; TEXT-ALIGN: right
}
.page A {
	BORDER-RIGHT: #0183fe 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0183fe 1px solid; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(../images/fpage_bg1.gif); PADDING-BOTTOM: 1px; MARGIN: 0px 2px; BORDER-LEFT: #0183fe 1px solid; COLOR: #ffffff; PADDING-TOP: 1px; BORDER-BOTTOM: #0183fe 1px solid
}
.page A:hover {
	BORDER-RIGHT: #0183fe 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0183fe 1px solid; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(../images/fpage_bg.gif); PADDING-BOTTOM: 1px; MARGIN: 0px 2px; BORDER-LEFT: #0183fe 1px solid; COLOR: #020e3c; PADDING-TOP: 1px; BORDER-BOTTOM: #0183fe 1px solid
}
.page SPAN {
	BORDER-RIGHT: #0183fe 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0183fe 1px solid; PADDING-LEFT: 4px; BACKGROUND-IMAGE: url(../images/fpage_bg.gif); PADDING-BOTTOM: 1px; MARGIN: 0px 2px; BORDER-LEFT: #0183fe 1px solid; COLOR: #020e3c; PADDING-TOP: 1px; BORDER-BOTTOM: #0183fe 1px solid
}
.reg {
	BORDER-RIGHT: #b0d0ed 1px solid; BACKGROUND-POSITION: right top; BORDER-TOP: #b0d0ed 1px solid; BACKGROUND-IMAGE: url(../images/newsright.jpg); MARGIN: 6px auto; BORDER-LEFT: #b0d0ed 1px solid; WIDTH: 944px; BORDER-BOTTOM: #b0d0ed 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
.url {
	BORDER-RIGHT: #b0d0ed 1px solid; BACKGROUND-POSITION: right top; BORDER-TOP: #b0d0ed 1px solid; BACKGROUND-IMAGE: url(../images/newsright.jpg); MARGIN: 6px auto; BORDER-LEFT: #b0d0ed 1px solid; WIDTH: 944px; BORDER-BOTTOM: #b0d0ed 1px solid; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #ffffff
}
.reginfo {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; MARGIN: 20px auto 0px; OVERFLOW: auto; WIDTH: 864px; LINE-HEIGHT: 23px; PADDING-TOP: 20px; HEIGHT: 450px; TEXT-ALIGN: left
}
.xyhearder {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #0056b5; LINE-HEIGHT: 50px; FONT-FAMILY: "Microsoft YaHei", arial,; HEIGHT: 50px; TEXT-ALIGN: center
}
.ty {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px auto 5px; WIDTH: 944px; PADDING-TOP: 20px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
.zy {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px auto; WIDTH: 90%; PADDING-TOP: 20px; TEXT-ALIGN: left
}
.star {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #ff0000; PADDING-TOP: 0px; FONT-FAMILY: "ËÎÌו"
}
.restable {
	PADDING-RIGHT: 0px; BORDER-TOP: #aecdf4 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto 30px; BORDER-LEFT: #aecdf4 1px solid; WIDTH: 94%; PADDING-TOP: 0px
}
.restable TD {
	BORDER-RIGHT: #aecdf4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #fff 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #aecdf4 1px solid; HEIGHT: 30px
}
.tableleft {
	FONT-WEIGHT: bold; COLOR: #022f82; BACKGROUND-COLOR: #ecf6ff; TEXT-ALIGN: right
}
.cshearder {
	BACKGROUND-POSITION: left bottom; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/fhearder_bg.jpg); COLOR: #012e78; BACKGROUND-REPEAT: repeat-x; TEXT-ALIGN: left
}
.cshearder SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.newshearder {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 800px; COLOR: #fefb01; LINE-HEIGHT: 22px; PADDING-TOP: 60px; FONT-FAMILY: "Microsoft YaHei", arial,; HEIGHT: 90px
}
.newshearder SPAN {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 20px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; COLOR: #66ffff; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.newsinfo {
	PADDING-RIGHT: 30px; PADDING-LEFT: 30px; TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 13px; PADDING-BOTTOM: 30px; MARGIN: 0px auto; WIDTH: 740px; COLOR: #fff; LINE-HEIGHT: 23px; PADDING-TOP: 0px; TEXT-ALIGN: justify
}
.tableout {
	MARGIN: 20px 0px
}
.flink {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; MARGIN: 0px auto; BORDER-LEFT: #cccccc 1px solid; WIDTH: 86px; COLOR: #000000; LINE-HEIGHT: 29px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 29px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}


img {
	border:none;
}
.slider {
	position:relative;
	width:480px;
	height:180px;
}
.slider ul{
list-style: none; margin:0px; padding:0px

}
.slider li{
padding:0px;
}

.slider .pic {}
.slider .pic img {
	width:480px;
	height:120px;
}
.slider .num{
	margin: 0;
	padding: 0;
	list-style: none; 
	position: absolute; 
	right:10px;
	bottom:7px;
	z-index: 10;
	height: 25px;	
}
.slider .num li {
	float: left;
	display: inline;
	color: #74a8ed;
	text-align: center;
	line-height:16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: .9em;
	cursor: pointer;
	overflow: hidden; 
	margin:3px 6px;
	background: url(../images/slide_trigger.gif) no-repeat center center;
}
.slider .num li.current {
	color:#fff; background: url(../images/slide_trigger_c.gif) no-repeat center center;border:0; font-weight:bold;font-size: 1.4em;line-height: 21px;height: 21px;width: 21px;margin:0 6px;
}

.slider .bg {
	z-index:1;
	position:absolute;
	right:10px;
	bottom:7px;
	width:95px;
	height:16px;
}
.slider .bg li {
	
}

.reginput {
border:1px #D4D4D4 solid;
vertical-align:middle;
padding:2px;
width:200px;
}


.buttonadd{
	height:23px;
	line-height:23px;
	width:47px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: #FFFFFF;
	background-image: url(../images/button_add.gif);
	border: 0px;
}
.buttonnor{
	height:23px;
	line-height:23px;
	width:47px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	background-color: #FFFFFF;
	background-image: url(../images/button.gif);
	border: 0px;
}
