<div id="cpinfo"><div class="cp"><span>
<a href="javascript:disp('pinfo{$vd['item']['pid']}');"><img src="{$vd['content']}images/close.gif" border="0" align="absmiddle"/></a></span><img src="{$vd['content']}images/point1.gif" align="absmiddle" /> 商品信息</div>
<p><b>商品名称：</b>{$vd['item']['pname']}<br>
<b>商品简介：</b>{#ubbcode($vd['item']['pdesc'],$vd)}<br>
<b>官方网址：</b><a href="{$vd['item']['czweb']}" target="_blank">{$vd['item']['web']}</a><br>
<b>充值网址：</b><a href="{$vd['item']['czweb']}" target="_blank">{$vd['item']['czweb']}</a><br></p>
</div>
