<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>设定商品购买价格</title>
<link href="../index/css/common.css" rel="stylesheet" type="text/css">
<link href="../index/css/page.css" rel="stylesheet" type="text/css"><body class="mainbg">
<!--$p = $vd['product']; -->
<div class="new_qie">
  <div class="new_qie2">
    <h2> 设定商品购买价格</h2>
  </div>
  </div>
  <form method="post" action="index.php?m=mod_b2b&c=product&a=SaveAgentPrice" >
<table width="100%" cellpadding="5" cellspacing="1" class="table1" style="margin: 0">
    <tr>
      <td width="22%" class="table1_left">商品名称：</td>
      <td width="78%" align="left" class="tableright1"><div align="left"><b>{$p['pname']}</b></div></td>
    </tr>
    <tr>
      <td class="table1_left">商品面值：</td>
      <td class="tableright1"><div align="left"><span id="listprice">{$p['listprice']}</span>{$vd['lang']['moneyunit']}</div></td>
    </tr>
    <tr>
      <td class="table1_left">进货价：</td>
      <td class="tableright1"><div align="left"><span id="cprice">{$vd['myprice']}</span>{$vd['lang']['moneyunit']}</div></td>
    </tr>
    <!--$i = 3; foreach($vd['items'] as $item) {-->
    <tr>
      <td class="table1_left">{$item['name']}：</td>
      <td class="tableright1">
      	<div style="width:50%;float:left">
      	  <div align="left">
      	    <input name="id[]" type="hidden" value="{$item['id']}"/>
      	    <input id="priceid_{$i}" name="price_{$item['id']}" type="text" size="25" value="{$item['price']}" class="input0" onKeyUp="set({$i})"/>
      	    {$vd['lang']['moneyunit']}   	      </div>
      	</div>
        <div style="width:25%;float:left" id="discount_{$i}">
          <div align="left">--</div>
        </div>
        <div style="width:20%;float:right" id="save_{$i}">
          <div align="left">--</div>
        </div>   	  </td>
    </tr>
    <!--$i++;}-->
    <tr>
      <td class="table1_left">&nbsp;</td>
      <td class="tableright1"><div align="left">
        <input type="submit" value="确认修改" class="tijiao_input"/> 
        <input type="reset" value="重置价格" class="fanhui_input"/>
      </div></td>
    </tr>
  </table>
  <input name="priceid" type="hidden" value="{$vd['priceid']}"/>
  <input name="pid" type="hidden" value="{$p['pid']}"/>
  </form>
	</td>
	</tr>
</table>
	
<script type="text/javascript">
	var $ = function(id){
		return document.getElementById(id);
	}
	
	function set(id)
	{
		//获取价格
		var listprice = $('listprice').innerHTML;
		var thisprice = $('priceid_' + id).value;
		var save = listprice - thisprice;
		if(listprice <= 0)
		{
			listprice = 1;
		}
		var discount = (1 - (save / listprice)) * 100;
		
		$('save_' + id).innerHTML = "节省：<font color='#ff0000'>" + save.toFixed(2) + "</font>{$vd['lang']['moneyunit']}";
		$('discount_' + id).innerHTML = "折扣：<font color='#ff0000'>" + discount.toFixed(2) + "%</font>";
	}
	
	for(var i=3;i<(priceTable.rows.length - 1);i++)
	{
		set(i);
  }
</script>
</body>
</html>


