<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>联系信息</title>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css"/>
<style type="text/css">
body{padding:5px;overflow:auto}
td{height:22px;}
</style>
</head>
<body>
<div style="overflow-y:auto;overflow-x:hidden;height:500px;">
<!--$item=$vd['item']['item'];-->
<table border="1" width="100%" style="border-collapse: collapse;background:#f6f6f6;border:1px #EAEAEA solid">
  <tr>
    <td height="35"  colspan="2" class="listhead texttle">订单详细信息</td>
  </tr>
  <tr>
    <td width="30%" align="right" style="padding: 5px">订单号：</td>
    <td width="68%" style="padding: 5px">{$item['ubzordno']} <a href="index.php?m=mod_b2b&c=msg&a=create&ubzmfrom={$item['uid']}&ordno={$item['ubzordno']}&mtype=3&frm=1">投诉</a> <!--if($item['uid'] == $vd['ubzuid'] || $item['uid'] != $item['ubzuid']){--><!--if($item['cancelqty'] < $item['ubzqty'] ){--><a href="javascript:disp('cdiv')">退款</a><!--}--><!--}--></td>
  </tr>
  <tr>
    <td align="right" style="padding: 5px">商品名称：</td>
    <td style="padding: 5px">{$item['ubzpname']}</td>
  </tr>
  <tr>
    <td align="right" style="padding: 5px">商品类型：</td>
    <td style="padding: 5px">{#ProductType($item['ubzptype'])}</td>
  </tr>
  <tr>
    <td align="right" style="padding: 5px">供货商：</td>
    <td style="padding: 5px">{$item['uid']}</td>
  </tr>
  <tr>
    <td align="right" style="padding: 5px">进货商：</td>
    <td style="padding: 5px">{$item['ubzuid']}</td>
  </tr>
  <tr>
    <td align="right" style="padding: 5px">进货时间：</td>
    <td style="padding: 5px">{$item['ubzorddate']}</td>
  </tr>
  <tr>
    <td align="right" style="padding: 5px">进货量：</td>
    <td style="padding: 5px">{$item['ubzqty']}</td>
  </tr>
  <tr>
    <td align="right" style="padding: 5px">进货价：</td>
    <td style="padding: 5px"><!--echo round($item['ubzsupdollars']/$item['ubzqty'], 3);--></td>
  </tr>
  <!--if($item['cancelqty'] > 0) {-->
  <tr>
    <td align="right" style="padding: 5px">退款状况：</td>
    <td style="padding: 5px">
    	<!--if($item['cancelqty'] == $item['ubzqty'] ){-->
    	<font color="#ff0000">已经全额退款</font>
    	<!--}else{-->
    	<font color="#ff0000">部分退款 数量：<b>{$item['cancelqty']}</b></font>
    	<!--}-->
    </td>
  </tr>
  <!--}-->
  <!--if($item['ubzptype'] == 0) {-->
  <tr>
    <td colspan="2">
      <table border="1" width="98%" style="border-collapse: collapse;line-height:25px;margin:10px 0px;" bordercolor="#cccccc">
        <tr class="tabletitle" style="background:#f0f0f0">
          <td width="33%" style="padding: 3px" align="center">供卡商</td>
          <td width="33%" style="padding: 3px" align="center"><!--if($item['ubzptype'] == 3) {-->号码<!--}else{-->卡号<!--}--> </td>
          <td width="33%" style="padding: 3px" align="center">密码</td>
        </tr>
        <!--if($item['cancelqty'] > 0) {-->
        <tr>
          <td colspan="3">
            <font color="#cccccc"><b>订单无效，已经<!--if($item['cancelqty'] == $item['ubzqty'] ){-->全额<!--}else{-->部分<!--}-->退款</b></font>
          </td>
        </tr>
        <!--}else{-->
        
        <!--$i=1;foreach($vd['item']['carditem'] as $card) {-->
        <!--if($i > $item['ubzqty']){break;}-->
        <tr>
          <td width="33%" style="padding: 5px" align="center">
            {$card['ubzuid']}
          </td>
          <td width="33%" style="padding: 5px" align="center">
            {$card['ubzcardnumber']}
          </td>
          <td width="33%" style="padding: 5px;" align="center">
            {$card['ubzcardpwd']}
          </td>
        </tr>
        <!--$i++;-->
        <!--}-->
        
        <!--}-->
      </table>
    </td>
  </tr>
  <!--}-->
  
  <!--if($item['ubzptype'] == 1 || $item['ubzptype'] == 2) {-->
  <tr>
    <td class="buylt">游戏用户名：</td>
    <td class="buyrt">{$item['ubzczacount']}</td>
  </tr>
  <!--if($item['ubzczarea1'] != ''){-->
  <tr>
    <td class="buylt">充值区域：</td>
    <td class="buyrt">{$item['ubzczarea1']}</td>
  </tr>
  <!--}-->
  <!--if($item['ubzczarea2'] != ''){-->
  <tr>
    <td class="buylt">充值服务器：</td>
    <td class="buyrt">{$item['ubzczarea2']}</td>
  </tr>
  <!--}-->
  <!--if($item['ubzcztype'] != ''){-->
  <tr>
    <td class="buylt">计费方式：</td>
    <td class="buyrt">{$item['ubzcztype']}</td>
  </tr>
  <!--}-->
  <!--if($item['ubzczother'] != ''){-->
  <tr>
    <td class="buylt">帐号类型：</td>
    <td class="buyrt">{$item['ubzczother']}</td>
  </tr>
  <!--}-->
  <tr>
    <td class="buylt">充值结果：</td>
    <td class="buyrt">
    	<!--if($item['cancelqty'] > 0) {-->
    	<font color="#cccccc"><b>订单无效，已经<!--if($item['cancelqty'] == $item['ubzqty'] ){-->全额<!--}else{-->部分<!--}-->退款</b></font>
    	<!--}else{-->
    	
      <!--if($item['ubzordcheck'] == 0) {-->
      <font color="#ff0000"><b>正在充值中
      <!--}-->
      <!--if($item['ubzordcheck'] == 1) {-->
      <font color="#0000ff"><b>已经充值成功
      <!--}-->
      </b></font>
      
      <!--}-->
    </td>
  </tr>
  <!--}-->
  <!--if($item['ubzerrcontent'] != ''){-->
  <tr>
    <td class="buylt">反馈信息：</td>
    <td class="buyrt">{$item['ubzerrcontent']}</td>
  </tr>
  <!--}-->
</table>
</div>
<!--if($item['uid'] == $vd['ubzuid'] || $item['uid'] != $item['ubzuid']){-->
<!--if($item['cancelqty'] < $item['ubzqty'] ){-->
<div id="cdiv" style="position:absolute;top:45px;left:30px;;width:380px;display:none">
  <div style="padding:20px;background:#F1F5FA;border:5px #75BCD7 solid">
  <div style="font-size:14px;font-weight:bold;padding:5px;float:left">退款</div>
  <div style="float:right;"><img src="{$vd['sc']}images/destroy.gif" onclick="disp('cdiv')" style="cursor:pointer"/></div>
  <form id="cform" method="post" action="index.php?m=mod_b2b&c=SOrder&a=Cancel">
    <table id="checktable" width="100%" style="border-collapse: collapse;">
      <tr>
        <td width="25%"">退款数量</td>
        <td width="75%"><input type="text" id="ubzqty" name="ubzqty" value="{$item['ubzqty']}"/></td>
      </tr>
      <tr>
        <td width="25%" style="height:50px;"></td>
        <td width="75%">
        	<input type="hidden" name="ubzordno" value="{$item['ubzordno']}"/>
        	<input type="hidden" name="oldqty" value="{$item['ubzqty']}"/>
        	<input type="hidden" name="cancelqty" value="{$item['cancelqty']}"/>
        	<input type="hidden" name="uidb" value="{$item['uid']}"/>
        	<input type="hidden" name="uida" value="{$item['ubzuid']}"/>
          <input type="submit" value="确认退款" class="button"/> <input type="button" value="取消" class="button" onclick="disp('cdiv')"/>
        </td>
      </tr>
    </table>
  </form>
  </div>
</div>
<script type="text/javascript">
var $ = function(id){
  return document.getElementById(id);
}
function disp(idx)
{
	$(idx).style.display = $(idx).style.display == "" ? "none" : "";
}
</script>
<!--}-->
<!--}-->
</body>
</html>
