<div class="clearboth"></div>

    <form name="form4" action="{$vd['root']}search.asp"  method="post" class="footsearch">
    <input size="48" value="" name="keywords" />
    <select>
      <option value="0" selected="selected">{$vd['web']['webname']}</option>
    </select>
    <input type="image" src="{$vd['root']}Content\images\go-button-help.gif" align="absMiddle"></form>

<div class="subwords_v2"></div>
<br />
<div class="subwords_v2"><a href="#">关于{$vd['web']['webname']}</a> | <a href="#">购卡演示</a> | <a href="{$vd['root']}reg.html">注册</a> | <a href="{$vd['root']}news/index.asp">公告</a> | <a href="#">诚信与安全</a> | <a href="{$vd['root']}department.html">商品分类</a> | <a href="#">热门关键字</a> | <a href="#">网站地图</a> | <a href="{$vd['root']}news/index.asp">帮助</a></div>
<div class="copyright_v2">
<br>本站名称：{$vd['web']['webname']}本站许可证编号：<a href="http://www.miibeian.gov.cn">{$vd['web']['beian']}</a><br> 
E-mail：<a href="mailto:{$vd['web']['email']}">{$vd['web']['email']}</a>网址：<A href="{$vd['web']['website']}" target=_blank>{$vd['web']['website']}</A> </a><span class="Btext"><br>
CopyRight</span><font face="Arial"></font><span class="Btext"> </span><font face="Arial">2008 －2008 </font>版权所有：
 <font color="#FFFFFF"><a href="http://www.xybss.com.cn">新云数卡</a></font>All rights reserved
</font>
</div>
<script src="{$vd['root']}js/vinfo.js"></script>
</div>
</body>
</html>
