<div class="clearboth"></div>
<div style="height:8px;"></div>
<div class="copyright_v2">
  <em style="float:right"><a href="#" target="_blank"><img src="{$vd['content']}images/ruixing.gif" align="absmiddle" /></a></em>
  <em style="float:right"><a href="http://sh.cyberpolice.cn/" target="_blank"><img src="{$vd['content']}images/cyberpolice.gif" align="absmiddle" /></a></em>
  <em style="float:right"><a href="http://sh.cyberpolice.cn/" target="_blank"><img src="{$vd['content']}images/footer_img1.gif" align="absmiddle" /></a></em>
  <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->25.html">关于{$vd['web']['webname']}</a>
     <font color="#cccccc">|</font> <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->55.html">欢迎合作</a>
     <font color="#cccccc">|</font> <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->24.html">诚信与安全</a>
     <font color="#cccccc">|</font> <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->54.html">法律声明</a>
     <font color="#cccccc">|</font> <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->56.html">服务条款</a>
     <font color="#cccccc">|</font> <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->57.html">隐私声明</a>
     <font color="#cccccc">|</font> <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->62.html">联系我们</a>
  <br/>
  版权所有 &copy; 2004-2011 {$vd['web']['webname']} <a href="http://www.miibeian.gov.cn" target="_blank"">{$vd['web']['beian']}</a> 地址：{$vd['web']['address']}  <br>
  技术支持：<a href="http://wly520.com">凤翔商务网络</a></div>

</div>
</div>
<div id="ubbottom"></div>
<input type="hidden" id="platform" value="ykt"/>
<script src="{$vd['root']}{$vd['sc']}js/web.js" type="text/javascript"></script>
</body>
</html>
