<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html dir=ltr>
<head>
<style> a:link{font:9pt/11pt 宋体; color:FF0000} a:visited    {font:9pt/11pt 宋体; color:#4e4e4e}</style>
<META NAME="ROBOTS" CONTENT="NOINDEX">
<title>跳转结果页面</title>
<META HTTP-EQUIV="Content-Type" Content="text-html; charset=gb2312">
<META NAME="MS.LOCALE" CONTENT="ZH-CN">
</head>
<script>
window.location.href = "index.php?m=mod_agent&c=Order&a=Detail&ordno={$vd['ordno']}";
</script>
<body style="width:100%"><div align="center"><div style="text-align:center;margin:20px auto;font-size:12px;width:400px;height:200px;border:1px #cccccc solid;padding-top:95px">如果您的浏览器没有跳转！<a href="index.php?m=mod_agent&c=Order&a=Detail&ordno={$vd['ordno']}">点此获取本次交易结果</a></div></div></body>
<script language="Javascript">         
 function document.oncontextmenu(){event.returnValue=false;}//屏蔽鼠标右键         
            
 function document.onkeydown()         
 {         
   if ((window.event.altKey)&&((window.event.keyCode==37)||(window.event.keyCode==39)))        
   {
     Event.returnValue=false;         
   }         
   
   if ((event.keyCode==8)||(event.keyCode==116)||(event.ctrlKey && event.keyCode==82))
   {         
     Event.keyCode=0;         
     Event.returnValue=false;         
   }         
 }
 </script>         
</html>
 
 
 
