<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css"/>
<style type="text/css">
td{white-space:normal;overflow:auto;text-overflow:none;}
td p{display:none}
td P.show {
  DISPLAY: block
}
td STRONG {
CURSOR:pointer;
COLOR:#0197c9;
PADDING:0 3px;
}

.tablelt3{width:18%;}
.tablert3{width:82%;}
</style>
</head>
<body>
<!--$parent=$vd['item']['parent'];-->
<div id="titleDiv">
<div style="float:left"><a href="index.php?a=home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div><div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <a href="index.php?m=mod_b2b&c=Msg&a=Index&optype=r&ubzisreaded=2" title="凤翔商家短信列表" onclick="loadDisp(1)"><font color="#000">凤翔商家短信列表</font></a> <span style="font-size:7px;">>></span> 短信详细内容</div>
<div style="float:right;"><a href="index.php?m=mod_home&a=Help&t=admin_b2b_msg_detail" onFocus="this.blur()" title="查看凤翔商家信息相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>
<div id="contentTip" style="display:none;"></div>
<div id="content" class="cwarpper">
<div class="cbodyHead"></div>
<div class="cwarpper1">
<div class="ctitle">凤翔短信息详细内容</div>
<div>
  <table border="1" class="ctable" bordercolor="#86B9D6">
    <tr>
      <td style="padding-left:0px">
        <div class="msgbody">
          <div class="msginfo">
          <font color="#0099cc"><b>{$parent['ubzmfrom']}</b></font> 创建于 {$parent['ubzmdate']} ({$vd['tarray'][$parent['ubzmtype']]})
          </div>
          <div class="msgsubject">
            {$parent['ubzmtitle']}
          </div>
          <div class="msgcontent">
            <!--if($parent['ubzmtype'] == 3){-->
            <div style="line-height:22px;background:#FFFFCC;border:1px #FFCC00 solid;margin:10px;margin-left:0px;padding:10px">
            投诉内容：{$parent['ubzother']}<br/>
            对应订单：<a href="index.php?m=mod_b2b">{$parent['ubzordno']}</a><br/>
            希望得到：{$parent['ubzhope']}
            </div>
            <!--}-->
            {$parent['ubzmcontent']}
          </div>
        </div>
        
        <!--foreach($vd['item']['child'] as $item) {-->
        <div class="replybody">
          <div class="msginfo">
            <font color="#0099cc"><b>{$item['ubzmfrom']}</b></font> 创建于 {$item['ubzmdate']}
          </div>
          <div class="msgcontent">
            {$item['ubzmcontent']}
          </div>
        </div>
        <!--}-->
      </td>
    </tr>
  </table>
  <form name="addnews" method="post" action="index.php?m=mod_b2b&c=msg&a=save" id="cform" onSubmit="return form1_onsubmit()">
  <table border="0" id="ctable2" class="ctable" bordercolor="#ededed">
    <tr>
      <td align="center" colspan="2" class="listhead" style="height:30px"><b>颖先卡购短信息回复</b></td>
    </tr>
    <tr> 
      <td class="tablelt"> 消息标题：</td>
      <td class="tablert"><input type="text" size="25" id="ubzmtitle" name="ubzmtitle" value="Re:{$parent['ubzmtitle']}"/></td>
    </tr>
    <tr> 
      <td class="tablelt"> 收信人：</td>
      <td class="tablert">
      <input type="text" size="25" id="ubzmto" name="ubzmto" value="{$vd['mto']}" msg="{$vd['mto']}" onclick="settext(3);"/>
      <input type="radio" name="ubzmsgtype" checked="checked" value="1" class="checkbox" onclick="settext(1);"/>给其他商户发信 <input type="radio" name="ubzmsgtype" value="2" class="checkbox" onclick="settext(2);" />给凤翔发信
      </td>
    </tr>
    <tr> 
      <td class="tablelt"> 消息内容：</td>
      <td class="tablert"> 
        <textarea name="ubzmcontent" id="ubzmcontent" value="aaa" cols="70" rows="10" class='input1' require="false" dataType="LimitB" max="1000" msg="投诉内容必须小于100个汉字"></textarea><br/>最多支持200个字
      </td>
    </tr>
    <tr>
      <td class="tablelt"></td>
      <td class="tablert" style="height:50px;">
        <input type="hidden" name="parentid" value="{$parent['ubzid']}" class="button"> 
        <input type="submit" id="mysubmit" value="马上回复" class="button"> 
        <input type="reset" value="重新填写" class="button"/>
      </td>
    </tr>
  </table>
  </form>
</div>
</div>
    
<div class="cbodyFoot"></div>
</div>

<div id="opcontent" style="display:none">
  <div class="optxt">
  </div>
</div>

<script type="text/javascript">
  var ctablenum = 2;
</script>
<script src="{$vd['sc']}js/content.js" type="text/javascript"></script>
<script type="text/javascript">
function isNum(num) 
{ 
  if(num.match(/[^0-9]/)) return false;//找到数字以外的字符就返回假， 
  return true; 
}

function settext(msgtype)
{
  if(msgtype == 1)
  {
    document.addnews.ubzmto.value = "请输入接收商户的编号"
    document.addnews.ubzmto.style.color = "#ccc";
  }
  else if(msgtype == 2)
  {
    document.addnews.ubzmto.value = "10086"
    document.addnews.ubzmto.style.color = "#000";
  }
  else if(msgtype == 3)
  {
    if(document.addnews.ubzmto.value == "请输入接收商户的编号")
    {
      document.addnews.ubzmto.value = ""
      document.addnews.ubzmto.style.color = "#000";
    }
  }
}

function form1_onsubmit()
{
  var qrid=/(^[1-9]{1}[0-9]{1,8}$)/
  
  if (document.addnews.ubzmtitle.value=="")
  {
    alert("消息标题未填")
    document.addnews.ubzmtitle.focus()
    return false
  }  
  else if(!qrid.test(document.addnews.ubzmto.value))
  { 
    alert("接收商户未填或者填写的不是数字")
    document.addnews.ubzmto.focus()
    return false
  }   
  else if(document.addnews.ubzmcontent.value=="")
  { 
    alert("消息内容不能为空")
    document.addnews.ubzmcontent.focus()
    return false
  }
}
</script>
</body>
</html>
