<!--if($vd['table'] == 0){-->
{load(head)}
<body>
<div class="titleDiv" id="titleList">
<div style="float:left"><a href="index.php?a=home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div>
<div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <a href="index.php?m=mod_b2b&c=Msg&a=Index&optype=r&ubzisreaded=2" title="凤翔商家短信列表" onClick="loadDisp(1)"><font color="#000">凤翔商家短信列表</font></a> (共 <b><span id="tol1">{$vd['totlerow']}</span></b> 个)</div>
<div style="float:right;"><a href="index.php?m=mod_home&a=Help&t=admin_b2b_msg_index" onFocus="this.blur()" title="查看凤翔商家信息相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>
<div class="mytitle" id="mytitle">
  <div class="titleOp4" onMouseOver="this.className='iconbg4'" onMouseOut="this.className='titleOp4'" onClick="delAllSubmit('destroyitems')"><samp title="先选择您要销毁的会员记录,再点此按钮">
    <div style="padding-top:10px;padding-left:9px;">批量删除</div></samp>
  </div>
  <div class="titleOp2" onMouseOver="this.className='iconbg2'" onMouseOut="this.className='titleOp2'" onClick="tableRefresh()" style="margin-right:5px"><samp title="点击刷新本页刷新数据,并保持原来勾选状态">
    <div style="padding-top:10px;padding-left:9px;">刷新</div></samp>
  </div>
  <div class="titleOp4" onMouseOver="this.className='iconbg4'" onMouseOut="this.className='titleOp4'" onClick="loadst()"><samp title="如果供货商价格有变动，点这里可以自动调整，价格将按照你设置的模板进行调整">
    <div style="padding-top:10px;padding-left:3px;">自动调价格</div></samp>
  </div>
  <div style="float:right;padding-top:4px;">
    <form action="index.php?m=mod_b2b&c=Msg&optype={$vd['optype']}&ubzisreaded=2" method="post" style="margin:0px 0px 0px 0px;" onSubmit="return searchSubmit()">
    <!--if($vd['optype']=='s'){-->
    <input type="text" name="msgto" size="5" value="收信人" msg="收信人" style="vertical-align:middle;color:#ccc" class="custsearch" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
    <!--}else{-->
    <input type="text" name="msgfrom" size="5" value="发信人" msg="发信人" style="vertical-align:middle;color:#ccc" class="custsearch" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
    <!--}-->
    <input type="text" name="keywords" size="25" value="标题" msg="标题" style="vertical-align:middle;color:#ccc" class="custsearch" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
    <input type="submit" value="短信搜索 &gt;&gt;" style="vertical-align:middle;" class="button"/>
    </form>
  </div>
</div>
<div id="menuMask" class="menuMask" style="display:none">
  <form action="?m=mod_b2b&c=tpl&tpl=msg" method="post" style="margin:0px">
  <div class="menuContent">
  <input type="checkbox" name="id[]" value="tmsgfrom" id="tmsgfrom" class="checkbox" onFocus='this.blur()'/> 发信人<br/>
  <input type="checkbox" name="id[]" value="isreaded" id="isreaded" class="checkbox" onFocus='this.blur()'/> 状态<br/>
  <input type="checkbox" name="id[]" value="title" id="title" class="checkbox" onFocus='this.blur()'/> 标题<br/>
  <input type="checkbox" name="id[]" value="tmsgto" id="tmsgto" class="checkbox" onFocus='this.blur()'/> 收信人<br/>
  <input type="checkbox" name="id[]" value="mtype" id="mtype" class="checkbox" onFocus='this.blur()'/> 短信类型<br/>
  <input type="checkbox" name="id[]" value="createdate" id="createdate" class="checkbox" onFocus='this.blur()'/> 发信时间<br/>
  </div>
  <div class="menuOp">
  <input type="submit" value="保存" class="button"/>
  <input type="button" value="重置" class="button" onClick="tInfoReset()"/>
  <input type="button" value="取消" class="button" onClick="setMenuMask()"/>
  </div>
  </form>
</div>

<table id="thead" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30px">
      <input name="chkall" id="chkall" type="checkbox" class="checkbox" onClick="CheckAll(this)" onFocus='this.blur()'/></td>
<!--//thead-->
<td width="70px"><b>发信人</b></td>
<td width="35px"><b>状态</b></td>
<td width="450px"><b>标题</b></td>
<td width="70px"><b>收信人</b></td>
<td width="70px"><b>短信类型</b></td>
<td width="140px"><b>发信时间</b></td>
<!--//endthead-->
    <td width="22px">
      <img src="{$vd['sc']}images/icon_view.gif"/>
    </td>
    <td width="22px">
      <img src="{$vd['sc']}images/destroy.gif"/>     
    </td>
    <td class="endtd">
      <div class="infoicon" onClick="setMenuMask()"><b><u>>></u></b></div>
    </td>
  </tr>
</table>
<div id="tip" style="display:none">
  <span id="tiptable">此页中所有 <b><span id="ncheck"><!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']--></span></b> 条记录已选中 </span> 
  <span id="tipspan">
    <a href="javascript:CheckTotle({$vd['totlerow']},0)">点此选择当前列表中所有 <b>{$vd['totlerow']}</b> 条记录>></a>
  </span>
</div>
<div id="content">
<!--}-->
  <!--if($vd['totlerow'] == 0) {-->
  <table  width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" colspan="20">无任何记录</td>
  </tr>
  </table>
  <!--}-->
  <form id="cform" name="form" method="post" action="index.php?m=mod_b2b&c=Msg&a=ItemDeal" onSubmit="return Check();">
  <table id="tbody"  border="0" cellspacing="0" cellpadding="0">
  
  <!--foreach($vd['items'] as $item) {-->
  <tr onMouseOver="setoverbg(this)" onMouseOut="setoutbg(this)">
    <td width="30px">
      <input type="checkbox" name="id[]" id="idchk_{$item['ubzid']}" class="checkbox" value="{$item['ubzid']}" onClick="CheckThis(this)" onFocus='this.blur()'></input>
    </td>
<!--//tbody-->
<td width="70px">{$item['ubzmfrom']}</td>
<td width="35px"><!--if($item['ubzisreaded'] == 0){--><font color="#ff00ff">未读</font><!--}else{--><font color="#cccccc">已读</font><!--}--></td>
<td width="450px"><nobr><a href="index.php?m=mod_b2b&c=msg&a=detail&ubzid={$item['ubzid']}&optype={$vd['optype']}"><!--if($item['ubzisreaded'] == 0){--><font color="#00875A">{$item['ubzmtitle']}</font><!--}else{--><font color="#cccccc">{$item['ubzmtitle']}</font><!--}--></a></nobr></td>
<td width="70px"><!--if($item['ubzmto']==0){-->进货商<!--}else{-->{$item['ubzmto']}<!--}--></td>
<td width="70px"><nobr><a href="index.php?m=mod_b2b&c=Msg&mtype={$item['ubzmtype']}&optype={$vd['optype']}&ubzisreaded=2">{$vd['tarray'][$item['ubzmtype']]}</a></nobr></td>
<td width="140px">{$item['ubzmdate']}</td>
<!--//endtbody-->
    <td width="22px">
      <a href="index.php?m=mod_b2b&c=Msg&a=detail&ubzid={$item['ubzid']}&optype={$vd['optype']}" title="查看短信" onClick="loadDisp(1)"><img src="{$vd['sc']}images/icon_view.gif"/></a>
    </td>
    <td width="22px">
      <img src="{$vd['sc']}images/destroy.gif" onClick="delSubmit({$item['ubzid']},'destroyitems')" alt="销毁短信,相关信息也会被销毁,无法恢复" style="cursor:pointer"/>
    </td>
    <td class="endtd"></td>
  </tr>
  <!--}-->
  
</table>
</form>
<input type="hidden" value="{$vd['totlepage']}" id="totlePage"/>
<input type="hidden" value="{$vd['thispage']}" id="thisPage"/>
<!--if($vd['table'] == 0){-->
</div>

<input type="hidden" value="index.php?m=mod_b2b&c=Msg&a=deals&{$vd['op']}" id="op"/>
<input type="hidden" value="index.php?m=mod_b2b&c=Msg&istable=1&{$vd['op']}" id="url"/>
<input type="hidden" value="{$vd['op']}" id="params"/>
<div style="position:absolute;bottom:0px">
  <div class="tbBottom" id="tbBottom">
    <div style="float:left;padding-top:8px;">
      <strong> 总计 <font color="#ff0000"><span id="tol2">{$vd['totlerow']}</span></font> 条</strong>
    </div>
    <div style="float:right;text-align:right;">
    <form id="actionform" method="post" action="index.php?m=mod_b2b&c=Msg&{$vd['op']}" style="margin:0px;" onSubmit="loadDisp(1)">
    <div id="page"></div>
    <div style="float:left;margin-top:3px">
      每页显示<input type="text" name="nrows" size="2" value="{$vd['nrows']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" /> 个 
      到第<input type="text" name="page" size="2" value="{$vd['thispage']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />页<input type="submit" value=" 确 定 &gt;&gt;" class="pagesub" />
    </div>
    </form>
    </div>
  </div>
</div>
<div id="load" style="display:none;">
  <div id="loadcontent" >页面加载中请稍等...</div>
</div>
</body>
<script type="text/javascript">
//第一参数，后边保留显示的列数
//第二参数，除最后一个参数外的保留参数的总宽度
tRows   = <!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']-->;
tInfoA  = Array(2,58);
totleRows = {$vd['totlerow']};
deltxt  = "您确定进行删除操作吗？删除后您还可以从回收箱进行恢复";//"如果删除短信,短信相关信息也会被删除(包括订单信息，充值信息，留言信息等),您确定进行删除操作吗？";
thisaction = "删除";
thisdel = 0;
statistics = 0;
var resizeidx = 3;
</script>
<script type="text/javascript">
//当前表格配置
<!--//tinfo-->
 tInfo = Array('tmsgfrom','isreaded','title','tmsgto','mtype','createdate');
<!--//endtinfo-->
</script>
<script src="{$vd['sc']}js/tools.js" type="text/javascript"></script>
<script type="text/javascript">
function loadst()
{
  if(!confirm('获取供货商的调价商品并按照下边模板调价？'))
  {
    return;
  }
  
  setLoad("正在调价中,请稍后...");
  loadDisp(1);
  
  window.location.href = "index.php?m=mod_b2b&c=Price&a=PriceSaveBySup";
  
}
</script>
</html>
<!--}-->
