<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css">
<style type="text/css">
td{height:30px}
</style>
</head>
<body>
<table border="1" width="100%" style="border-collapse: collapse;" bordercolor="#cccccc">
  <tr>
    <td class="listhead" colspan="2" style="border-right:1px #ccc solid">备份模板</td>
  </tr>
  <!--if(UB_B2C){--> 
  <tr>
    <td width="25%" align="center">
      <input type="button" onclick="winopen('?m=mod_b2b&c=Fs&a=BakTpl&mod=b2c&name=b2c')" value="备份零售模板" class="button" style="width:130px"/>
    </td>
    <td width="75%" align="left" style="border-right:1px #ccc solid;">
      备份目录：/themes/b2c.zip
    </td>
  </tr>
  <!--}-->
  <!--if(UB_B2B){-->
  <tr>
    <td width="25%" align="center">
      <input type="button" onclick="winopen('?m=mod_b2b&c=Fs&a=BakTpl&mod=b2b&name=b2b')" value="备份批发模板" class="button" style="width:130px"/>
    </td>
    <td width="75%" align="left" style="border-right:1px #ccc solid;">
      备份目录：/themes/b2b.zip
    </td>
  </tr>
  <!--}-->
  <!--if(UB_YKT){-->
  <tr>
    <td width="25%" align="center"><input type="button" onclick="winopen('?m=mod_b2b&c=Fs&a=BakTpl&mod=ykt&name=ykt')" value="备份一卡通模板" class="button" style="width:130px"/></td>
    <td width="75%" align="left" style="border-right:1px #ccc solid">
      备份目录：/themes/ykt.zip
    </td>
  </tr>
  <!--}-->
  <tr>
    <td width="25%" align="center" style="border-bottom:1px #ccc solid">
      <input type="button" onclick="winopen('?m=mod_b2b&c=Fs&a=BakTpl&mod=index&name=index')" value="备份引导页模板" class="button" style="width:130px"/>
    </td>
    <td width="75%" align="left" style="border-bottom:1px #ccc solid;border-right:1px #ccc solid">
      备份目录：/themes/index.zip
    </td>
  </tr>
</table>
<br/>
<table border="1" width="100%" style="border-collapse: collapse" bordercolor="#cccccc">
  <tr>
    <td style="border:1px #ccc solid;"><div id="result" style="font-size:15px;color:#ff0000;font-weight:bold"></div><div id="tmp">备份的模板可以点击[<a href="index.php?m=mod_b2b&c=Fs&a=ListTpl">选择网站模板</a>]查看</div></td>
  </tr>
</table>
<div id="load" style="display:none">
  <div id="loadcontent" ><div style="padding-bottom:8px"><img src="content/mod_shared/skins/images/js_loader.gif"></div>正在备份中请稍等...</div>
</div>
<script type="text/javascript">
var $ = function(id){
  return document.getElementById(id);
}
function loadDisp(flag)
{
  $("load").style.display = flag ? "" : "none";
}
function winopen(url)
{  
  loadDisp(1);
  window.location.href = url;
}
</script>
</body>
</html>
