{load(head)}
<div id="tip" style="padding:0px 5px;color:#ff0000;position:absolute;background-color:#ffffff;border:1px solid gray;display:none;left:0;top:2;filter:progid:DXImageTransform.Microsoft.Shadow(color=#f,direction=202,strength=2);"></div>
<div style="width:100%;float:right;background:#ffffff;">
<table width="100%" style="margin-bottom:3px;">
  <tr> 
    <td height="35" align="center">
      <div style="width:100%;border-top:0px #E1E5E8 solid;border-bottom:1px #E1E5E8 solid;color:#6B6B6B;font-size:18px;padding-bottom:15px;"><b>{$vd['web']['webname']}会员用户服务协议</b></div>
    </td>
  </tr>
</table>
<div>
   <textarea name="ubzabst" wrap="VIRTUAL" cols="131" rows="120" scrolling="yes" style="padding:5px" class="textareainput" style="width:98%">{$vd['useragreement']}</textarea>
</div>  
<div style="margin-top:15px;border-top:1px #E1E5E8 solid;width:100%;height:200px;text-align:right;padding-top:20px;color:#000">
  <div style="padding-right:100px;">{$vd['web']['webname']} 版权所有 Power By &copy <a href="http://www.yingxkg.tk" target="_blank">umebiz.com</a></div>
</div>
</div>
</div>
</div>
</div>
