<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css"/>
</head>
<body>
<!--$item = $vd['item'];-->
<!--$temp = explode('|', $vd['sys']['pwdconfig']);$cout=count($temp);-->
<div id="titleDiv">
<div style="float:left"><a href="index.php?a=home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div><div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <a href="index.php?m=mod_b2b&c=Ykt&by=1" title="用户列表"><font color="#000">用户列表</font></a> <span style="font-size:7px;">>></span> <span style="font-size:12px;">给一卡通补充余额</span></div>
<div style="float:right;"><a href="index.php" onFocus="this.blur()" title="查看一卡通相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>
<form id="cform" method="post" action="index.php?m=mod_b2b&c=Ykt&a=FundsSave">
<div id="content" class="cwarpper">
<div class="cbodyHead"></div>
<div class="cwarpper1">
<div class="ctitle">一卡通余额补充</div>
<table border="1" id="ctable1" class="ctable" bordercolor="#86B9D6">
  <tr>
    <td class="tablelt">一卡通卡号：</td>
    <td class="tablert">{$item['cardnumber']}</td>
  </tr>
  <tr>
    <td class="tablelt">当前卡面值：</td>
    <td class="tablert">{$item['price']}{$vd['lang']['moneyunit']}</td>
  </tr>
  <tr>
    <td class="tablelt">当前卡上余额：</td>
    <td class="tablert">{$item['money']}{$vd['lang']['moneyunit']}</td>
  </tr>
  <tr>
    <td class="tablelt">充值金额：</td>
    <td class="tablert">
      <input type="text" name="ubzczvalue" size="20"/> <span class="spantip">扣款的话，这里填上对应负数即可，如 -10 表示扣款 10 {$vd['lang']['moneyunit']}</span>
    </td>
  </tr>
  <tr>
    <td class="tablelt">充值备注：</td>
    <td class="tablert">
      <div id="reason" style="padding:10px 0px;line-height:20px">
        <input type="radio" name="remarks" value="普通充值" class="checkbox" style="vertical-align:top" onclick="setCustom(0)" checked/> 普通充值<br/>
        <input type="radio" name="remarks" value="订单失败手工退款" class="checkbox" style="vertical-align:top" onclick="setCustom(0)"/> 订单失败手工退款<br/>
        <input type="radio" name="remarks" value="custom" class="checkbox" style="vertical-align:top" onclick="setCustom(1)"/> 自行输入<br/>
        <textarea rows="3" name="remarks_custom" cols="28" id="remarks_custom" style="width:208px;display:none;color:#5c5c5c" onblur="setBlur(this)" onclick="setArea(this)">请输入原因</textarea>
      </div>
    </td>
  </tr>
  <!--if($temp[0] == 1){-->
  <tr>
    <td class="tablelt">后台充值密码：</td>
    <td class="tablert">
      <input type="password" name="tradepwd" value=""> <span class="spantip">如果您不需要这些安全措施，您可以在常规管理中把他去掉</span>
    </td>
  </tr>
  <tr>
    <td class="tablelt">确认后台充值密码：</td>
    <td class="tablert">
      <input type="password" name="retradepwd" value=""> <span class="spantip"></span>
    </td>
  </tr>
  <!--}-->
  <tr>
    <td class="tablelt">注意事项：</td>
    <td class="tablert">
      <font color="#ff0000">建议充值后的一卡通余额不要超过他的面值</font>
    </td>
  </tr>
</table>
<input type="hidden" value="0" name="bindchange" id="bindchange"/>
<input type="hidden" value="{$item['id']}" name="id"/>
</div>
<div class="cbodyFoot"></div>
</div>
<div id="opcontent">
  <div class="optxt">
    <input type="submit" value="充 值 &gt;&gt;" name="b1" class="btn"/>
    <input type="reset" value="重 置 &gt;&gt;" name="b1" class="btn"/>
  </div>
</div>
</form>
<div id="load" style="display:none;">
  <div id="loadcontent" >页面加载中请稍等...</div>
</div>
<script type="text/javascript">
  var ctablenum = 1;
</script>
<script src="{$vd['sc']}js/content.js" type="text/javascript"></script>
<script type="text/javascript">

  function setbind(val)
  {
    $("bindchange").value = val;
  }
  
  function reasondisp(obj)
  {
    $("reason").style.display = obj.value==0 ? "none" : "";
  }
  setTableInput();
  
  function setCustom(val)
  {
    $("remarks_custom").style.display = val == 1 ? "" : "none";
  }
  
  function setArea(obj)
  {
    if(obj.innerHTML == "请输入原因")
    {
      obj.innerHTML = "";
    }
  }
  
  function setBlur(obj)
  {
    if(obj.innerHTML == "")
    {
      obj.innerHTML = "请输入原因";
    }
  }
</script>
</body>
</html>
