<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css"/>
</head>
<body>
<table width="100%" border="0" cellpadding="1" cellspacing="1" style="BORDER:solid 1px #86B9D6;">
<form method="post" action="index.php?m=mod_b2b&c=card&a=update" name="myform" >
  <tr>
    <td width="30" align="right" height="35">
      <font color="#ff0000">卡号</font></td>
    <td align="left" height="35">
      <input type="text" size="25" name="ubzcardnumber" value="{$vd['item']['cardnumber']}"/></td>
  </tr>
  <tr>
    <td width="30" align="right" height="35">
      <font color="#ff0000">密码</font></td>
    <td align="left" height="35">
      <input type="text" size="25" name="ubzcardpwd"/>
      (留空的话表示不更改密码)
    </td>
  </tr>
  <tr>
    <td width="100%" style="padding-left: 10px" height="47" colspan="2">
    <input type="hidden" value="{$vd['item']['id']}" name="ubzid"/>
    <input type="hidden" value="{$vd['item']['pid']}" name="ubzpid"/>
    <input type="submit" value=" 提 交 &gt;&gt;" name="B1"/> 
    <input type="reset" value=" 重 写 &gt;&gt;" name="B2"/>
    </td>
  </tr>
</form>
</table>
</body>
</html>
