<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css"/>
</head>
<body>
<table border="1" width="100%" style="border-collapse: collapse" bordercolor="#86B9D6">
  <tr>
    <td height="35"  colspan="12" class="listhead" style="padding-top: 10px;">
    <h3>区域添加：{$vd['game']}</h3>
    </td>
  </tr>
</table> 

<form method="post" action="index.php?m=mod_b2b&c=game&a=AreaSave">
<table border="1" width="100%" style="border-collapse: collapse" bordercolor="#86B9D6">
  <tr>
    <td width="34%" align="right" style="padding: 5px">区域名称：</td>
    <td width="64%" style="padding: 5px">
      <input type="text" name="name" size="24" />
      <input type="hidden" name="gameid" value="{$vd['gameid']}" />
    </td>
  </tr>
  <tr>
    <td align="center" colspan="2">
    <input type="submit" value="添 加 &gt;&gt;" name="b1"/></td>
  </tr>
</table>
</form>
</body>
</html>
