<!--if($vd['totlerow'] == 0) {-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" colspan="20">无任何记录</td>
  </tr>
</table>
<!--}-->
<form id="cform" name="form" method="post" action="index.php?m=mod_b2b&c=scard&a=ItemDeal" onsubmit="return Check();">
<table id="tbody"  border="0" cellspacing="0" cellpadding="0">
  <!--foreach($vd['items'] as $item) {-->
  <tr onmouseover="setoverbg(this)" onmouseout="setoutbg(this)">
    <td width="30px">
      <input type="checkbox" name="id[]" id="idchk_{$item['ubzid']}" class="checkbox" value="{$item['ubzid']}" onclick="CheckThis(this)" onFocus='this.blur()'></input>
    </td>
<!--//tbody-->
<td width="250px"><nobr><samp title="{$item['ubzpname']}">{$item['ubzpname']}</samp></nobr></td>
<td width="150px">{$item['ubzcardnumber']}</td>
<td width="60px">已加密</td>
<td width="60px">{#CardState($item['ubzcardok'])}</td>
<!--//endtbody-->
    <td width="22px">
      <a href="index.php?m=mod_b2b&c=scard&a=detail&ubzid={$item['ubzid']}" title="编辑卡密"><img src="{$vd['sc']}images/icon_edit.gif"/></a>
    </td>
    <td width="22px">
      <!--if($vd['inrecycle']==0){-->
      <img src="{$vd['sc']}images/icon_trash.gif" onclick="delSubmit({$item['ubzid']},'delitems')" alt="删除卡密,可以从回收恢复" style="cursor:pointer"/>
      <!--}else{-->
      <img src="{$vd['sc']}images/destroy.gif" onclick="delSubmit({$item['ubzid']},'destroyitems')" alt="销毁卡密,相关信息也会被销毁,无法恢复" style="cursor:pointer"/>
      <!--}-->
    </td>
    <td class="endtd"></td>
  </tr>
  <!--}-->
  
</table>
</form>
<input type="hidden" value="{$vd['totlepage']}" id="totlePage"/>
<input type="hidden" value="{$vd['thispage']}" id="thisPage"/>
