<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>网站暂停公告</title>
</head>
<style type="text/css">
	body{
	font-size:12px;
	font-family:Tahoma,Verdana,Segoe,sans-serif;
	line-height:180%;
	}
  .err{
  background:url('{$vd['content']}images/err.gif') no-repeat;
  width:500px;
  height:250px;
  margin:50px auto;
  }

  .content{
  margin:100px auto;
  width:400px;
  height:250px;
  }
</style>
<body>
	<div class="err">
		<div class="content">{#ubbcode($vd['closeinfo'])}</div>
	</div>
</body>
</html>
