<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$vd['web']['title']} - 直销商系统</title> 
<meta name="keywords" content="{$vd['web']['keywords']}" />
<meta http-equiv="description" content="{$vd['web']['description']}" />
<link rel="stylesheet" type="text/css" href="{$vd['content']}css/{$vd['css']}.css" />
<link rel="shortcut icon" href="{$vd['content']}images/favicon.ico" type="image/x-icon"/>
<script type="text/javascript" src="{$vd['content']}js/utils.js"></script>
</head>
<body>
<!--if($g_action == 'Index' && $g_controller == 'Home'){}else{-->
<script type="text/javascript">
  docWidOrg = document.documentElement.clientWidth;    
  if(docWidOrg < 1003)
  {
    document.body.style.width = 1003 + "px";
  }
  else
  {
    document.body.style.width = "100%";
  }
</script>
<!--}-->
<!--$in=0;if($g_controller=='Article'||$g_controller=='Bd'||($g_controller=='Home'&&$g_action=='Index'&& !isset($vd['agent']) )||(!isset($vd['agent'])&&$g_action=='Reg')||($g_action=='Aggrement')){-->
<!--$in=1;-->
<!--}-->
<!--if($in == 1){-->
<div id="shop">
<div id="top">

<div id="fav">
  <div class="favleft">
    <!--if($g_controller=='Home'&&$g_action=='Index'){-->
    <a href="#" target="_blank"><img src="{$vd['content']}images/icon_dxz.png" border="0"/></a>
    <a href="#" target="_blank"><img src="{$vd['content']}images/icon_ltz.png" /></a>
    <!--}else{-->
    <a href="#" target="_blank"><img src="{$vd['content']}images/icon_dx.gif" border="0"/></a>
    <a href="#" target="_blank"><img src="{$vd['content']}images/icon_lt.gif" /></a>
    <!--}-->
  </div>
  <div class="favmid">
    <div style="width:80%;padding-top:2px;"><span>
      <marquee scrollamount=3 scrolldelay=0 behavior=scroll style='width:100%' direction=left class='top'>
        <!--foreach($vd['annunciator'] as $a) {-->
        <!--if($a['ispic']==0){-->
        ({$this->DateFormat($a['editdate'],'m/d')})<a href="{$a['url']}" target="_blank"> <font color="{$a['textcolor']}">{#SubText($a['text'], 50)}</font></a> 
        <!--}-->
        <!--}-->
      </marquee></span>
    </div>
  </div>
  <div  class="favright">
    <img src="{$vd['content']}images/point.gif" width="7" height="8" />
    <a hREF="#" Onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$vd['web']['website']}');" class="top"> 
      设为首页</a> 
    <img src="{$vd['content']}images/point.gif" width="7" height="8" /> 
      <a href=javascript:window.external.AddFavorite('{$vd['web']['website']}','{$vd['web']['webname']}') class="top">加入收藏</a>
  </div>
</div>
<div id="logobg">
<div class="logoleft"><img src="{$vd['content']}images/mylogo.gif"/></div>
<div class="logomid"><img src="{$vd['root']}{$vd['sc']}upload/{$vd['banner'][0]['pic']}" class="myborder"/></div>
<div class="logoright">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="line-height:25px;">
        <tr>
            <td height="48" align="center" class="black">
                <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?22<!--}else{-->22.html<!--}-->" target="_blank">产品加盟</a> |
                <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?59<!--}else{-->59.html<!--}-->.html" target="_blank">广告招商</a>
                | <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?23<!--}else{-->23.html<!--}-->" target="_blank">销售合作</a><br />
                <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?58<!--}else{-->58.html<!--}-->" target="_blank">异业合作</a>
                | <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?20<!--}else{-->20.html<!--}-->" target="_blank">充值演示</a>
                | <a href="{$vd['root']}article/<!--if($vd['vip'] > 0){-->?60<!--}else{-->60.html<!--}-->"
                    target="_blank">媒体宣传</a>
            </td>
        </tr>
    </table>
</div>
</div>
</div>
</div>
<!--if(isset($vd['agent'])){-->
<div class="dkf1" id="dkfdiv" onmouseover="setkf(1,event,this)" onmouseout="setkf(0,event,this)"></div>
<!--}-->
<div class="headTab">
  <div class="tabLeft"></div>
  <ul>
    <li><a <!--if($g_controller=='Home'&&($g_action=='Home'||$g_action=='Index')){-->class="on"<!--}--> href="<!--if(isset($vd['agent'][7])){-->{$vd['root']}index.php?m=mod_b2b&a=home<!--}else{-->{$vd['root']}<!--if(UB_DEFAULT!='b2b'){--><!--if($vd['vip'] > 0){-->index.php?m=mod_<!--}-->b2b<!--}--><!--}-->">首页</a></li>
    <!--if($in == 1){-->
    <li class="bian"><a <!--if($g_controller=='Home'&&$g_action=='Reg'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&a=reg">用户注册</a></li>
    <li class="bian"><a <!--if($g_action=='More'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&c=Article&a=more">网址导航</a></li>
    <li class="bian"><a <!--if($g_action=='Index'&&request('name')=='批发系统公告'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&c=Article&a=Home&name=<!--echo urlencode('批发系统公告');-->">系统公告</a></li>
    <li class="bian"><a <!--if($g_action=='Index'&&request('name')=='批发系统常见问题'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&c=Article&a=Home&name=<!--echo urlencode('批发系统常见问题');-->">常见问题</a></li>
    <!--}else{-->
    <li class="bian"><a <!--if($g_controller=='Funds'&&$g_action=='AddFunds'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=funds&a=AddFunds">帐户充值</a></li>
    <li class="bian"><a <!--if($g_controller=='Category'&&$g_action=='Index'){-->class="on"<!--}-->     href="{$vd['root']}index.php?m=mod_b2b&c=category">购买点卡</a></li>
    <li class="bian"><a <!--if($g_controller=='Order'&&$g_action=='Index'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=order">购卡记录</a></li>
    <li class="bian"><a <!--if($g_controller=='VOrder'&&$g_action=='Index'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=VOrder&ordstate=2">取卡记录</a></li>
    <li class="bian"><a <!--if($g_controller=='Trade'&&$g_action=='History'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=trade&tpl=history">帐务记录</a></li>
    <!--}-->
    <!--//mhead-->
<li class="bian"><a href="http://网址/index.php?m=mod_b2b&c=bd" target="_blank"><span>业务补单</span></a></li><!--//endmhead-->
  </ul>
  <div class="tabRight"></div>
</div>
<!--}else{-->
<div id="shop">
<div id="top" style="MARGIN-TOP:0px;">
<div id="logobg">
<div style="width:230px;float:left;"><img src="{$vd['content']}images/mylogo.gif"/></div>  
<div style="float:right;">
  
</div>
</div>

</div>
</div>
<!--if(isset($vd['agent'])){-->
<div class="dkf1" id="dkfdiv" onmouseover="setkf(1,event,this)" onmouseout="setkf(0,event,this)"></div>
<!--}-->
<div class="headTab">
  <div class="tabLeft"></div>
  <ul>
    <li><a <!--if($g_controller=='Home'&&($g_action=='Home'||$g_action=='Index')){-->class="on"<!--}--> href="<!--if(isset($vd['agent'][7])){-->{$vd['root']}index.php?m=mod_b2b&a=home<!--}else{-->{$vd['root']}<!--if(UB_DEFAULT!='b2b'){--><!--if($vd['vip'] > 0){-->index.php?m=mod_<!--}-->b2b<!--}--><!--}-->">首页</a></li>
    <!--if($in == 1){-->
    <li class="bian"><a <!--if($g_controller=='Home'&&$g_action=='Reg'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&a=reg">用户注册</a></li>
    <li class="bian"><a <!--if($g_action=='More'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&c=Article&a=more">网址导航</a></li>
    <li class="bian"><a <!--if($g_action=='Index'&&request('name')=='批发系统公告'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&c=Article&a=Home&name=<!--echo urlencode('批发系统公告');-->">系统公告</a></li>
    <li class="bian"><a <!--if($g_action=='Index'&&request('name')=='批发系统常见问题'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_b2b&c=Article&a=Home&name=<!--echo urlencode('批发系统常见问题');-->">常见问题</a></li>
    <!--}else{-->
    <li class="bian"><a <!--if($g_controller=='Funds'&&$g_action=='AddFunds'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=funds&a=AddFunds">帐户充值</a></li>
    <li class="bian"><a <!--if($g_controller=='Category'&&$g_action=='Index'){-->class="on"<!--}-->     href="{$vd['root']}index.php?m=mod_b2b&c=category">购买点卡</a></li>
    <li class="bian"><a <!--if($g_controller=='Order'&&$g_action=='Index'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=order">购卡记录</a></li>
    <li class="bian"><a <!--if($g_controller=='VOrder'&&$g_action=='Index'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=VOrder&ordstate=2">取卡记录</a></li>
    <li class="bian"><a <!--if($g_controller=='Trade'&&$g_action=='History'){-->class="on"<!--}--> href="{$vd['root']}index.php?m=mod_agent&c=trade&tpl=history">帐务记录</a></li>
    <!--}-->
    <!--//mhead-->
<li class="bian"><a href="http://网址/index.php?m=mod_b2b&c=bd" target="_blank"><span>业务补单</span></a></li><!--//endmhead-->
  </ul>
  <div class="tabRight"></div>
</div>
<!--}-->

<div id="ubtop">
<input type="hidden" id="webdir" name="webdir" value="{$vd['root']}"/>
<div id="ubmain">
<script type="text/javascript" src="{$vd['content']}js/dkf.js"></script>
