<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>密保卡绑定</title>
    <link href="../../index/css/common.css" type="text/css" rel="stylesheet" />
    <link href="../../index/css/page.css" type="text/css" rel="stylesheet" />
<body class="mainbg">
<div class="new_qie">
  <div class="new_qie2">
    <h2> 密保卡绑定</h2>
  </div>
  <ul>
  </ul>
</div>
<body class="mainbg">
<!--$item=$vd['item'];-->
<div class="main5" id="main5">
<table width="100%" cellpadding="2" cellspacing="1" class="table1" style="margin: 0">
		<tr>
		<td width="22%" height="30" class="table1_left">用户编号：</td>
		<td width="78%" class="tableright1"><div align="left">
		  <input name='CustomerId' type='text' disabled class='input1 ' value="{$vd['agent'][7]}" size='30' maxlength='10'>
		  </div></td>
		</tr>
		<!--if($vd['agent'][9] > 0){-->
		<tr>
		<td width="22%" height="30" class="table1_left">绑定员工：</td>
		<td width="78%" class="tableright1"><div align="left">
		  <input name='CustomerId' type='text' disabled class='input1 ' value="{$vd['agent'][7]}" size='30' maxlength='10'>
		  </div></td>
		</tr>
		<!--}else{-->
		<tr>
		<td class="table1_left">绑定总帐号：</td>
		<td class="tableright1"><div align="left">
		  <input name='LoginName' type='text' disabled class='input1 ' value="{$vd['agent'][0]}" size='30' maxlength='30'>
		  </div></td>
		</tr>
		<!--}-->
		
		<!--if($item['mibaokacheck']==1){-->
		<tr>
		<td height="30" class="table1_left">密保卡绑定状态：</td>
		<td class="tableright1"><div align="left"><b><font color="#0000ff">已绑定</font></b></div></td>
		</tr>
		<tr>
		<td height="30" class="table1_left">绑定操作：</td>
		<td class="tableright1">
		   <div style="padding-top:10px">
		     <div align="left">
               <input type="button" value="申请解绑" onClick="javascript:window.location.href='index.php?m=mod_agent&c=msg&a=add&msgtitle=<!--echo urlencode('申请解绑');-->'" class="tijiao_input" style="cursor:pointer"> 
             </div>
		   </div>		</td>
		</tr>
		<!--}else{-->
		<tr>
		<td height="30" class="table1_left">密保卡绑定状态：</td>
		<td class="tableright1"><div align="left"><b><font color="#cccccc">未绑定</font></b>
		  </div></td>
		</tr>
		<tr>
		<td height="30" class="table1_left">绑定操作：</td>
		<td class="tableright1">
		   <div style="padding-top:10px">
		     <div align="left">
               <input type="button" value="免费申请" onClick="javascript:window.location.href='index.php?m=mod_agent&c=messenger&a=add&msgtitle=<!--echo urlencode('申请密保卡');-->'" class="tijiao_input" style="cursor:pointer"> 
             </div>
		   </div>		</td>
		</tr>
		<!--}-->
  </table>
	</div>
<input type="hidden" id="webdir" name="webdir"  value="{$vd['root']}"/>
<script type="text/JavaScript">
var $ = function(id){
	return document.getElementById(id);
}
function disp(idx)
{
	$(idx).style.display = ($(idx).style.display == "") ? "none" : "";
}

function sendmobile(val)
{
	if(val)
  {
	  $("sendtip1").style.display = "";
  }
  else
	{
		$("sendtip").style.display = "";
  }
	
	if (window.XMLHttpRequest)
  {
    xmlhttpsm=new XMLHttpRequest();
  }
  // 针对 IE 的代码：
  else if (window.ActiveXObject)
  {
    xmlhttpsm=new ActiveXObject("Microsoft.xmlhttp");
  }
  
	webroot    = $("webdir").value;
	mymobile   = $("mobiletmp").value;
	myurl      = webroot + "index.php?m=mod_agent&c=Security&a=Fetion";
	
  if (xmlhttpsm!=null)
  {
    xmlhttpsm.onreadystatechange=function(){
      if (xmlhttpsm.readyState==4)
      {
        if (xmlhttpsm.status==200)
        {
        	var ackdata=xmlhttpsm.responseText;
          if(ackdata != "0")
          {
          	//disp('adddiv');
          	//disp('sfdiv');
          	if(val)
          	{
          		alert("验证码发送失败，请重新点击解除绑定");
          	}
            else
          	{
        		  alert("验证码发送失败，请重新点击下一步");
        	  }
          }
          else
        	{
        		if(val)
          	{
        		  $('sfsub').value = "解除绑定";
        	  }
        	  else
        		{
        			disp('adddiv');
        			$("mobile").value = mymobile;
        		}
       
        	  disp('sfdiv');
        	  if(val)
            {
	            $("sendtip1").style.display = "none";
            }
            else
	          {
	          	$("sendtip").style.display = "none";
            }
            
            $("v").value = val;
        	}
        }
        else
        {
          alert("发送失败，请重新点击下一步");
        }
      }
    };

    xmlhttpsm.open("post", myurl, true);
    xmlhttpsm.setRequestHeader('Content-type','application/x-www-form-urlencoded');
    xmlhttpsm.send('val=' + val + '&mobile=' + mymobile);
  }
  else
  {
    alert("您的浏览器不支持xmlhttp")
  }
}
</script>
</body>
</html>
