<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<style media="all" type="text/css">

	

		body {

	        font:14px/1.5 microsoft yahei, sans-serif,\5b8b\4f53;

	        color: #333;

	        background:url(images/login_bg2.gif) #f8ffff repeat-x top;

            white-space: nowrap;white-space:nowrap，display:inline-block，

        }

        a:link {color:#999; text-decoration: none; }

        a:visited {color:#666;text-decoration: none; } 

        a:hover {text-decoration :underline;}	

  </style>

<head>

<title>{$vd['web']['webname']}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="../index/css/common.css" type="text/css" rel="stylesheet">

<link href="../index/css/index.css" type="text/css" rel="stylesheet">

<link href="../index/css/dialog.css" type="text/css" rel="stylesheet">

<script language="javascript" type="text/javascript" src="../index/js/jquery.js"></script>

<script type="text/javascript" src="../index/js/dialog.js"></script>

<script language="JavaScript" type="text/javascript" src="../index/js/cservice2.js"></script>

<script language="JavaScript" type="text/javascript" src="../index/js/getElementPos.js"></script>

</head>

</head>

<table cellpadding="0" cellspacing="0" class="all_table">

<tbody>

    <tr>

      <td colspan="2" class="top_menu"><form id="form1" name="form1" method="post" action="">

          　　　<img src="../content/mod_b2b/images/mylogo.gif" />

          <div id="bannerid" class="banner">

            <p class="hang1"> <a href="../../index.php" target="_blank">平台首页</a><em>|</em> <a href="/ykt" target="_blank">一卡通</a> <em>|</em><a href="#">积分频道</a> </p>

            <p class="hang2"> <span id="lblUserName">欢迎您，<span style="margin-top:20">{$vd['agent'][1]}</span></span> <em>|</em><a target="ifrpage" href="../../index.php?m=mod_agent&c=Home">我的账户</a><em>|</em><a target="ifrpage" href="../../index.php?m=mod_agent&c=staff&nrows=500">员工账户</a><em>|</em><a target="ifrpage" href="../../index.php?m=mod_agent&c=security&a=check">安全设置</a><em>|</em><a target="ifrpage" href="../../index.php?m=mod_agent&c=trade&tpl=history">资金明细</a><em>|</em><a target="ifrpage" href="../../index.php?m=mod_agent&c=loan&a=Create">借款申请</a><em>|</em><a target="ifrpage" href="../../index.php?m=mod_agent&c=Messenger">站内短信</a><em>|</em><a target="ifrpage" href="../../index.php?m=mod_agent&c=Complaint">投诉反馈</a><em>|</em>[<a id="lbtnExit" href="../../index.php?m=mod_b2b&a=logout">退出</a>] </p>

			</p>

        </div>

                    <div id="public_top_menu_ctn" class="public_top_menu_ctn" onmouseover="ShowKeFu()" onmouseout="HideKeFu()">

                        <div class="public_top_menu_ctn_bg">



                            <ul>

<li>联系电话：{$vd['web']['wangwang']}</li>

<li class="qq">在线客服：<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$vd['web']['email']}&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:{$vd['web']['email']}:51" alt="在线客服" title="在线客服"></a></li>

</ul>



         

           </div>

          </div><div id="mainmenu1" style="position: absolute; display: none;" onmouseover="ShowMenu()" onmouseout="HideMenu()">

            <ul>

              <li> <a id="lbtnMenu1" href="/index.php?m=mod_b2b&c=Frame&a=top">网吧售卡中心</a></li>

              <li> <a id="lbtnMenu2" href="/index.php?m=mod_b2b&c=Dealer&a=top">经销商系统</a></li>

              <li> <a id="lbtnMenu3" href="/index.php?m=mod_b2b&c=Dealergong&a=top">供货商系统</a></li>

              <li> <a id="lbtnMenu4" href="/index.php?m=mod_b2b&c=Card&a=top">一卡通代理</a></li>

            </ul>

          </div>

          <script language="JavaScript" type="text/javascript">

                        function ShowKeFu()

                        {

                            var obj = document.getElementById("KF");

                            var pos = getElementPos("KF");

                            var detail = document.getElementById("public_top_menu_ctn");

                            detail.style.display = "block";

                            detail.style.left = pos.x + obj.offsetWidth - detail.offsetWidth - 2 + "px";

                            detail.style.top = pos.y + obj.offsetHeight - 8  + "px";

                        }

                        function HideKeFu()

                        {

                            var detail = document.getElementById("public_top_menu_ctn");

                            detail.style.display = "none";

                        }

                        

                        function ShowMenu()

                        {

                            var obj = document.getElementById("mainmenu2");

                            var pos = getElementPos("mainmenu2");

                            var detail = document.getElementById("mainmenu1");

                            detail.style.display = "block";

                            detail.style.left = pos.x + 58 + "px";

                            detail.style.top = pos.y + obj.offsetHeight - 15  + "px";

                        }

                        function HideMenu()

                        {

                            var detail = document.getElementById("mainmenu1");

                            detail.style.display = "none";

                        }

                    </script>

          <div class="clear"> </div>

        <div class="menu">

            <ul>

  

    <li style="width: 130px"><a href="NoRight.php?r=102" target="ifrpage" style="width: 130px"> 一卡通查询</a></li>

    <li class="li2"></li>

    <li><a href="NoRight.php?r=102" target="ifrpage">一卡通列表</a></li>

    <li class="li2"></li>

    <li><a href="NoRight.php?r=102" target="ifrpage">开卡记录</a></li>

    <li class="li2"></li>

    <li><a href="NoRight.php?r=102" target="ifrpage">使用记录</a></li>

    <li class="li2"></li>

    <li id="KF" class="kefu" onclick="ShowKeFu()" onmouseover="this.className='kefu1';" onmouseout="this.className='kefu';"></li>

    <li class="qiehuan" id="mainmenu2"><span class="qh_name">当前栏目：</span><a href="javascript:" onclick="ShowMenu()"><span id="lblMenu">一卡通代理</span></a></li>

  </ul>

</div>

        <table cellpadding="0" cellspacing="0" class="all_table">

          <tbody>

            <tr>

              <td valign="top" class="td_left"><div class="nr_left">

                <div class="login_top"> </div>

                <script language="JavaScript" type="text/javascript">

                            function UserPanelStatus(obj)

                            {

                                var panel = document.getElementById("UserPanel");

                                if (obj.className == "menutitle")

                                {

                                    panel.style.display = "none";

                                    obj.className = "menutitle2";

                                }

                                else

                                {

                                    panel.style.display = "";

                                    obj.className = "menutitle";

                                }

                            }

                        </script>

                <div class="login">

                  <h2> <span class="yh">用户信息</span></h2>

                  <h3 class="menutitle" onclick="UserPanelStatus(this)"> <span>用户信息</span></h3>

                  <ul id="UserPanel">

                    <li>编 号：{$vd['agent'][7]}</li>

                    <li>级 别：{$vd['agent'][2]}</li>

                    <li>

                      <div style="float: left"> 余 额：<span class="yue">{$vd['agent'][6]}</span>元</div>

                      <div style="float: left">

                        <input name="button" type="button" class="shuaxin" id="RefreshImg" title="刷新余额" onclick="GetBalance()" />

                      </div>

                    </li>

                    <li id="li2">

                      <div style="float: left"> 上 级：<span class="jifen">{$vd['agent'][4]}</span></div>

                    </li>

                    <li>地 区：{$vd['agent'][3]}</li>

                    <li style="padding: 5px 0 4px 9px"><a href="index.php?m=mod_agent&c=funds&a=AddFunds" class="pay1" target="ifrpage"> 充值</a><a href="index.php?m=mod_agent&c=funds&a=tran" class="pay1" target="ifrpage">转账</a><a href="index.php?m=mod_agent&c=funds&a=detail" class="pay1" target="ifrpage" style="margin-right: 0">提现</a></li>

                  </ul>

                </div>

                <div class="login_bottom"> </div>

                <div class="main_top"> </div>

                <div class="main" id="menua">

                  <h3 class="menutitle"> <span>一卡通代理</span></h3>

                  <ul>

                    <li class="li1"><a href="index.php?m=mod_agent&c=Ykt&nrows=100" target="ifrpage" onfocus="this.blur();">代理一卡通列表</a></li>

                    <li class="li1"><a href="index.php?m=mod_agent&c=Ykt&a=Order" target="ifrpage" onfocus="this.blur();"> 一卡通换购记录</a></li>

                    <li class="li1"><a href="index.php?m=mod_agent&c=Ykt&a=Reward&nrows=40" target="ifrpage" onfocus="this.blur();">商品返点比率</a></li>

		    <li class="li1"><a href="index.php?m=mod_agent&c=Ykt&a=RewardTrade" target="ifrpage" onfocus="this.blur();">一卡通返点明细</a></li>

                  </ul>

                  <ul>

                    <li class="li1"><a href="NoRight.php?r=102" target="ifrpage" onfocus="this.blur();">一卡通开卡记录</a></li>

                  </ul>

                  <ul>

                    <li class="li1"><a href="NoRight.php?r=102" target="ifrpage" onfocus="this.blur();"> 一卡通使用记录</a></li>

                    <li class="li1"><a href="NoRight.php?r=102" target="ifrpage" onfocus="this.blur();"> 一卡通返点记录</a></li>

                  </ul>

                  <ul>

                    <li class="li1"><a href="NoRight.php?r=102" target="ifrpage" onfocus="this.blur();"> 一卡通销售利润</a></li>

                  </ul>

                </div>

                <div class="main_bottom"> </div>

              </div>

               

                    <script type="text/javascript">

                        function autoResize()

                        {

                            try

                            {

                                document.getElementById("ifrpage").style.height = (parseInt($(window.frames["ifrpage"].document.body).height()) + 50) + "px";

                            }

                            catch(e)

                            {

                                

                            }

                        }

                    </script>

                </p></td>

              <td valign="top" class="td_right"><iframe scrolling="off" id="ifrpage" name="ifrpage" frameborder="0" onload="autoResize()" style="margin: 0px; height: 587px; visibility: inherit; width: 100%; z-index: 1; "></iframe></td>

            </tr>

          </tbody>

        </table>

		

		

        <p>

          <script type="text/javascript">

//<![CDATA[

try{Dialog.w1in({title:'平台公告',iframe:{src:'../index/Announcement.html'},width:500,height:350});}catch(e){}parent.frames['ifrpage'].location.href='/NoRight.php?r=102';//]]>

        </script>

          

        </p>

        <table height="41%" cellpadding="0" cellspacing="0" class="all_table">

          <tbody>

            <tr>

              <td width="100%" height="100" class="foot"><div class="ft1">

                  <table width="18%" border="0" align="center" cellpadding="0" cellspacing="0">

                    <tr id="ad_account" style="height:35px;">

                      <td width="40%" height="21" align="right"><!-- 将此标记放在您希望显示like按钮的位置 -->

                          <div class="bdlikebutton"></div>

                        <!-- 将此代码放在适当的位置，建议在body结束前 -->

                          <script id="bdlike_shell"></script>

                          <script>

var bdShare_config = {

	"type":"large",

	"color":"blue",

	"likeText":"{$vd['web']['hibaidu']}",

	"likedText":"感谢您的支持",

	"share":"yes"

};

document.getElementById("bdlike_shell").src="http://bdimg.share.baidu.com/static/js/like_shell.js?t=" + Math.ceil(new Date()/3600000);

          </script>

                        </span> </td>

                      <td width="60%" align="left"></td>

                    </tr>

                  </table>

              </div>

                  <div class="ft2"> 　版权所有  <a id="Theme1_Copyright">Copyright 2013-2014 </a>

                      <p> 　运营商：<span id="OperatorName">{$vd['web']['webname']}</span></p>
<p> 　技术支持：<a href="http://52yma.taobao.com">蓝主</a>友情提供！</p>
                  </div>

                  <div class="ft1">

                    <table width="18%" border="0" align="center" cellpadding="0" cellspacing="0">

                      <tr id="ad_account" style="height:35px;">

                        <td width="40%" height="21" align="right">

                            <a href="http://www.xybss.com.cn"><img src="../index/images/icon_jubao.png" width="138" height="58" border="0" /></a></span> </td>

                        <td width="60%" align="left"></td>

                      </tr>

                    </table>

              </div></td>

            </tr>

          </tbody>

        </table>

      