<div class="coltitle loginttitle">商家信息</div>
<div class="col mainTitleColor fontwhite">
	<table>
		<tr>
      <td colspan="2"><input type="radio" name="verifymac" value="1"/>验证网卡 <input type="radio" name="verifymac" value="0"/>不验证网卡</td>
    </tr>
    <tr>
			<td class="loginlt">编号：</td>
			<td class="loginrt">{$vd['agent'][0]}</td>
		</tr>
		<tr>
			<td class="loginlt">名称：</td>
			<td class="loginrt">{$vd['agent'][0]}</td>
		</tr>
		<tr>
			<td class="loginlt">级别：</td>
			<td class="loginrt"><input type="text" class="logininput" name="staffname"/></td>
		</tr>
		<tr>
			<td class="loginlt">余额：</td>
			<td class="loginrt"><input type="password" class="loginpwdinput" name="pwd"/></td>
		</tr>
		<tr>
			<td class="loginlt">地址：</td>
			<td class="loginrt"><input type="password" class="loginpwdinput" name="pwd"/></td>
		</tr>
		<tr>
			<td class="loginlt">上级：</td>
			<td class="loginrt"><input type="password" class="loginpwdinput" name="pwd"/></td>
		</tr>
	</table>
</div>
<div class="coltitle">新手指南</div>
<div class="box iconlist">
	<ul>
  <li><img alt="" src="{$vd['content']}images/InXsznicon1.gif" width="89" height="80" border="0" /></li>
  <li><img alt="" src="{$vd['content']}images/InXsznicon2.gif" width="89" height="80" border="0" /></li>
  <li><img alt="" src="{$vd['content']}images/InXsznicon3.gif" width="89" height="80" border="0" /></li>
  <li><img alt="" src="{$vd['content']}images/InXsznicon4.gif" width="89" height="80" border="0" /></li>
  <li><img alt="" src="{$vd['content']}images/InXsznicon5.gif" width="89" height="80" border="0" /></li>
  <li><img alt="" src="{$vd['content']}images/InXsznicon6.gif" width="89" height="80" border="0" /></li>
  <li><img alt="" src="{$vd['content']}images/InXsznicon7.gif" width="89" height="80" border="0" /></li>
  <li><img alt="" src="{$vd['content']}images/InXsznicon8.gif" width="89" height="80" border="0" /></li>
  </ul>
</div>
