<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	网站基1本信息设置
</title><meta http-equiv="Content-Type" content="text/html; charset=gb2312" /><link href="http://xh.91km.cn/css/h_skin1/common.css" type="text/css" rel="stylesheet" /><link href="http://xh.91km.cn/css/h_skin1/page.css" type="text/css" rel="stylesheet" />

<script language="javascript" type="text/javascript" src="js/ifrauto1.js?isposkback=False"></script>

</head>
<body>
    <div class="new_qie">
        <div class="new_qie2">
            <h2>
                网站基本信息设置</h2>
        </div>
        <ul>
            <li><a href="WebSetting.aspx" target="ifrpage" class="on">网站基本信息设置</a></li>
            <li><a href="AdLink.aspx" target="ifrpage">广告设置与管理</a></li>
            <li><a href="NewsList.aspx" target="ifrpage">新闻公告管理</a></li>
            <li><a href="Friendlinklist.aspx" target="ifrpage">友情链接管理</a></li>
            <li><a href="CommonWebSite.aspx" target="ifrpage">首页网址管理</a></li>
        </ul>
    </div>
<form method="post" action="index.php?m=mod_b2b&c=sys&a=update" name="cform" id="cform"> 
<div>
<table cellspacing="1" cellpadding="2" class="table1" style="margin: 0">
        <tr>
            <td width="20%" class="table1_left">
                前台开放状态            </td>
            <td width="80%" class="tdleft"><span class="tablert"><span style="&lt;!--echo UB_B2B?'':'display:none'--&gt;">
              <input type="checkbox" name="b2bwebopen"  value="1" class="checkbox" onfocus="this.blur()" {#ToggleCheck($temp[1])} />
批发前台开放</span> <span style="&lt;!--echo UB_YKT?'':'display:none'--&gt;">
<input type="checkbox" name="yktwebopen"  value="1" class="checkbox" onfocus="this.blur()" {#ToggleCheck($temp[2])} />
一卡通前台开放</span></span></td>
        </tr>
        <tr>
            <td>            </td>
            <td class="tdleft">
                <input type="submit" name="Sumit" value="确认保存" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;Sumit&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="Sumit" class="tijiao_input" />            </td>
        </tr>
    </table>
</body>
</html>
