<!--if($vd['table']==0){-->
{load(head)}
<body>
<div class="titleDiv" id="titleList">
<div style="float:left"><a href="index.php?a=Home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div><div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=Home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <span style="font-size:12px;"><a href="index.php?m=mod_b2b&c=Price&a=RankTpl&{$vd['op']}" title="点击重新获取商品列表资料" onclick="loadDisp(1)"><font color="#000">单级别模板列表</font></a></span> (共 <b><span id="tol1">{$vd['totlerow']}</span></b> 个) <span style="font-size:7px;">>></span> <span style="font-size:12px;color:#ff0000">{$vd['name']}</span></div>
<div style="float:right"><a href="index.php" onFocus="this.blur()" title="查看商品相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>
<div class="mytitle" id="mytitle">
  <div class="titleOp4" onmouseover="this.className='iconbg4'" onmouseout="this.className='titleOp4'" onclick="javascript:window.location.href='?m=mod_b2b&c=Price&a=PriceTpl'"><samp title="先选择您要删除的行,再点此按钮">
    <div style="padding-top:10px;padding-left:9px;">标准模板</div></samp>
  </div>
  <div class="titleOp4" onmouseover="this.className='iconbg4'" onmouseout="this.className='titleOp4'" onclick="disp('adddiv')"><samp title="先选择您要删除的行,再点此按钮">
    <div style="padding-top:10px;padding-left:9px;">快捷设置</div></samp>
  </div>
  <div class="titleOp4" onmouseover="this.className='iconbg4'" onmouseout="this.className='titleOp4'" onclick="toSubmit('cform')"><samp title="点击刷新本页刷新数据,并保持原来勾选状态">
    <div class="saveicon" style="padding-top:10px;padding-left:28px;">保存</div></samp>
  </div>
  <div style="float:right;padding-top:4px;">
    <form action="index.php?m=mod_b2b&c=Price&a=RankTplPrice" method="post" style="margin:0px 0px 0px 0px;" onsubmit="return searchSubmit()">
    <input type="text" name="keywords" size="25" value="{$vd['keywords']}" style="vertical-align:middle;" class="custsearch" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
    <input type="hidden" name="pricetpl" value="{$vd['pricetpl']}"/>
    <input type="hidden" name="name" value="{$vd['name']}"/>
    <input type="hidden" name="stype" value="pname"/>
    <select name="ptype" style="vertical-align:middle;font-size:14px;">
    	<option value="-1" selected >所有类型</option>
      {#Option($vd['sarray'], $vd['stype'])}
    </select>
    <input type="submit" value="模板搜索 &gt;&gt;" style="vertical-align:middle;" class="button"/>
    </form>
  </div>
</div>
<div id="adddiv" style="position:absolute;top:100px;left:130px;;width:620px;display:none">
  <div style="padding:20px;background:#F1F5FA;border:5px #75BCD7 solid">
  <div style="font-size:14px;font-weight:bold;padding:5px;float:left">按公式设置全部</div>
  <div style="float:right;"><img src="{$vd['sc']}images/destroy.gif" onclick="disp('adddiv')" style="cursor:pointer"/></div>
  <form name="form1" method="post" action="index.php?m=mod_b2b&c=Price&a=TplPriceQuickSave&pricetpl={$vd['pricetpl']}" id="tform" style="clear:both">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="25%">类目名称</td>
      <td width="75%">
        <select name="priceplan" style="font-size:14px;vertical-align:middle" onchange="set(this)">
          <option value="1" selected>方案一(利润折扣)</option>
          <option value="2">方案二(直接累加)</option>
          <option value="3">方案三(面值折扣)</option>
        </select>
         价格 = 
        <input name="discout" type="text" size="5" value="3" class="myinput" style="padding-top:2px;height:18px;width:50px;"/>
         <span id="std">% x (面值 - 我的进货价) + 我的进货价</span>
      </td>
    </tr>
    <tr>
      <td width="25%"></td>
      <td width="75%">
        <input type="hidden" name="name" value="{$vd['name']}"/>
        <input type="submit" value="设 置" class="button"/>
        <input type="button" value="取 消" onclick="disp('adddiv')" class="button"/>
      </td>
    </tr>
  </table>
  </form>
  </div>
</div>
<table id="thead" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30px">
      <input name="chkall" id="chkall" type="checkbox" class="checkbox" onclick="CheckAll(this)" onFocus='this.blur()' disabled/></td>
<!--//thead-->
<td width="200px"><b>商品名称</b></td>
<td width="70px"><b>商品类型</b></td>
<td width="80px"><b>面值({$vd['lang']['moneyunit']})</b></td>
<td width="80px"><b>进货价({$vd['lang']['moneyunit']})</b></td>
<td width="80px"><b>设定价格</b></td>
<td width="70px"><b>差价</b></td>
<!--//endthead-->
    <td class="endtd">
      <div class="infoicon" style="color:#cccccc"><b><u>>></u></b></div>
    </td>
  </tr>
</table>
<div id="tip" style="display:none">
  <span id="tiptable">此页中所有 <b><span id="ncheck"><!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']--></span></b> 条记录已选中 </span> 
  <span id="tipspan">
    <a href="javascript:CheckTotle({$vd['totlerow']},0)">点此选择当前列表中所有 <b>{$vd['totlerow']}</b> 条记录>></a>
  </span>
</div>
<div id="content">
<!--}-->
  <!--if($vd['totlerow'] == 0) {-->
  <table  width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" colspan="20">无任何记录</td>
  </tr>
  </table>
  <!--}-->
  <form id="cform" name="form" method="post" action="index.php?m=mod_b2b&c=Price&a=TplPriceSave" onsubmit="return Check();">
  <table id="tbody"  border="0" cellspacing="0" cellpadding="0">
  
  <!--foreach($vd['items'] as $item) {-->
  <tr onmouseover="setoverbg(this)" onmouseout="setoutbg(this)">
    <td width="30px">
      <input type="checkbox" name="id[]" id="idchk_{$item['pid']}" class="checkbox" value="{$item['pid']}" onclick="CheckThis(this)" onFocus='this.blur()' disabled ></input>
    </td>
    <!--//tbody-->
    <td width="200px"><nobr><samp title="{$item['pname']}">{$item['pname']}</samp></nobr></td>
    <td width="70px">{#ProductType($item['ptype'])}</td>
    <td width="80px">{$item['listprice']}</td>
    <td width="80px">{$item['price']}</td>
    <td width="80px"><input type="hidden" name="pid[]" value="{$item['pid']}"/><input type="hidden" name="cprice_{$item['pid']}" value="{$item['price']}"/><input type="text" size="8" name="price_{$item['pid']}" value="<!--if(isset($vd['parray'][$item['pid']])){echo $vd['parray'][$item['pid']];}-->"/></td>
    <td width="70px"><!--if(isset($vd['parray'][$item['pid']])){echo round(($vd['parray'][$item['pid']]-$item['price']),3);}else{echo '--';}--></td>
    <!--//endtbody-->
    <td class="endtd"></td>
  </tr>
  <!--}-->
  
</table>
<input type="hidden" name="pricetpl" value="{$vd['pricetpl']}"/>
<input type="hidden" name="name" value="{$vd['name']}"/>
<input type="hidden" value="{$vd['totlepage']}" id="totlePage"/>
<input type="hidden" value="{$vd['thispage']}" id="thisPage"/>
</form>
<!--if($vd['table']==0){-->
</div>

<input type="hidden" value="index.php?m=mod_b2b&c=Price&a=Deals&{$vd['op']}" id="op"/>
<input type="hidden" value="index.php?m=mod_b2b&c=Price&a=RankTplPrice&istable=1&pricetpl={$vd['pricetpl']}&name=<!--echo urlencode($vd['name']);-->&{$vd['op']}" id="url"/>
<input type="hidden" value="{$vd['op']}" id="params"/>
<div style="position:absolute;bottom:0px">
  <div class="tbBottom" id="tbBottom">
    <div style="float:left;padding-top:8px;">
      <strong> 总计 <font color="#ff0000"><span id="tol2">{$vd['totlerow']}</span></font> 条</strong>
    </div>
    <div style="float:right;text-align:right;">
    <form id="actionform" method="post" action="index.php?m=mod_b2b&c=Price&{$vd['op']}" style="margin:0px;" onsubmit="loadDisp(1)">
    <div id="page"></div>
    <div style="float:left;margin-top:3px">
      每页显示<input type="text" name="nrows" size="2" value="{$vd['nrows']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" /> 个 
      到第<input type="text" name="page" size="2" value="{$vd['thispage']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />页<input type="submit" value=" 确 定 &gt;&gt;" class="pagesub" />
    </div>
    </form>
    </div>
  </div>
</div>
<div id="load" style="display:none;">
  <div id="loadcontent" >页面加载中请稍等...</div>
</div>
</body>
<script type="text/javascript">
//第一参数，后边保留显示的列数
//第二参数，除最后一个参数外的保留参数的总宽度
tRows   = <!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']-->;
tInfoA  = Array(0,0);
totleRows = {$vd['totlerow']};
deltxt  = "您确定进行删除操作吗？删除后您还可以从回收箱进行恢复";//"如果删除商品,商品相关信息也会被删除(包括订单信息，充值信息，留言信息等),您确定进行删除操作吗？";
thisaction = "删除";
thisdel = 0;
statistics = 0;
var resizeidx = 1;
</script>
<script type="text/javascript">
//当前表格配置
<!--//tinfo-->
 tInfo = Array();
<!--//endtinfo-->
</script>
<script src="{$vd['sc']}js/tools.js" type="text/javascript"></script>
<script type="text/javascript">
function set(obj)
{
  val = obj.options[obj.selectedIndex].value;
  str = "";
  if(val == "1")
  {
    str = "% x (面值 - 我的进货价) + 我的进货价";
  }
  else if(val == "2")
  {
    str = "{$vd['lang']['moneyunit']} + 我的进货价";
  }
  else
  {
    str = "% x 面值 + 我的进货价";
  }
  
  $("std").innerHTML = str;
}
</script>
</html>
<!--}-->
