<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title id="AgentSiteName">公告列表</title>
    
    <link href="http://klgtest.52ka.cn/webblack/css/global.css" rel="stylesheet" type="text/css" />
    <link href="http://klgtest.52ka.cn/webblack/css/css.css" rel="stylesheet" type="text/css" />
</head>
<body id="nav_btn03">
    <div class="header">
        <dl class="header">
            <dt style="display: none;">欢迎您，admin<a href="###">我的帐户</a><a href="###" class="red_a">充值</a><em>|</em><a
                href="###">短信0条</a><a href="###" class="phone_a">手机版</a><a href="###">积分兑换 </a>
            </dt>
            <dd>
                <a href="javascript:" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage(location.href);">设为首页</a><a onclick="window.external.addFavorite('http://'+document.domain, 

document.title);" href="javascript:">加入收藏</a><a href="index.php?m=mod_b2b&amp;c=Article&amp;a=Homecj&amp;name=批发系统常见问题">帮助中心</a></dd>
        </dl>
    </div>
    <div class="header_c">
        <div class="header_c_t">
<div id="AgentLogo" class="logo" style="background:url(/content/mod_b2b/images/mylogo.gif) no-repeat 20px 50%;"></div>
            <div class="header_r">
                <ul class="h_tool_nav th red_link">
                    <li id="liAgent" class="n_1"><a id="A1">网吧平台 </a></li>
                    <li id="liYKT" class="n_2"><a href="../ykt" id="YKTCncUrl" target="_blank">
                        一卡通</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav">
        <dl class="nav th">
            <dd id="nav_hover01">
                <a href="index.php">首 页</a></dd>
            <dd id="nav_hover02">
                <a href="index.php?m=mod_b2b&amp;a=reg">用户注册</a></dd>
            <dd id="nav_hover03">
                <a href="index.php?m=mod_b2b&c=Article&a=Homext&name=%C5%FA%B7%A2%CF%B5%CD%B3%B9%AB%B8%E6">公告信息</a></dd>
            <dd id="nav_hover04">
                <a href="index.php?m=mod_b2b&amp;c=Article&amp;a=Homecj&amp;name=批发系统常见问题">帮助中心</a></dd>
            <dd id="nav_hover05">
          <dd></dd></dd>
        </dl>
    </div>
    <div class="clear_div2 center_bj i_center_bj">
        <div class="clear_div i_center">
            <dl class="h_th">
                <dd class="th">
                    公告信息</dd></dl>
            <div class="clear_div gray_border">
                <ul class="clear_div i_news">
<ul class="ul1">
                            							    <!--foreach($vd['items'] as $a) {-->
 <li><span class='left'><a style='color: ' href="<!--if($a['titlelink'] != ''){-->{$a['titlelink']}" target="_blank"<!--}else{-->{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->{$a['id']}.html" target="_blank"<!--}-->">{$a['title']}</a></span></span></li>
    <!--}-->
</ul>
                </div>
                </div>
                </div>
                <p>&nbsp;</p>
                <p>{load(foot)}
                  <!--end文件底-->
                  <script type="text/javascript" src="../js/jquery.js"></script>
                  <script type="text/javascript" src="js/global.js"></script>
                                </p>
</body>
</html>
