{load(thead)}
    <link rel="stylesheet" type="text/css" href="Themes/q_skin1/css/common.css" />
    <link rel="stylesheet" type="text/css" href="Themes/q_skin1/css/page.css" />

    <script language="javascript" type="text/javascript">
        try{document.execCommand("BackgroundImageCache", false, true);}catch(e){}
    </script>

</head>
{load(zhead)}
        <div class="neirong_b" style="margin-bottom: 10px;">
            <div class="neirong">
                <div class="nr_left">
                    <div class="more_t">
                        <span>当前位置：<a href="/" id="Theme1_seo12">首页</a> -
                            {$vd['board']['name']}列表</span>
                    </div>
                    <div class="more_z">
					<div id="Theme1_NewTitle" class="page_di1">
                        </div>
                        <ul class="ul1">
                            							    <!--foreach($vd['items'] as $a) {-->
 <li><span class='left'><a style='color: ' href="<!--if($a['titlelink'] != ''){-->{$a['titlelink']}" target="_blank"<!--}else{-->{$vd['root']}article/<!--if($vd['vip'] > 0){-->?<!--}-->{$a['id']}.html" target="_blank"<!--}-->">{$a['title']}</a></span><span class='right'>{$this->DateFormat($a['ndate'],'Y/m/d')}</span></li>
    <!--}-->
                        </ul>
                        <table cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td>&nbsp;
                                    
                                </td>
                                <td>
                                    <div style="line-height: 30px; float: right;">
                                        

                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="more_d">
                    </div>
                </div>
                        <div class="nr_right">
                    <div class="lianxi">
                        <div class="lianxi_t">
                            <h2>
                                联系方式</h2>
                        </div>
                        <div id="Theme1_js2" class="lianxi_z">
                            <ul>

<LI style="LINE-HEIGHT: 22px; HEIGHT: 25px" class=noborder><SPAN class=time>工作时间：{$vd['web']['worktime']}</SPAN> </LI>
<LI class=noborder><SPAN class="icon kefu"></SPAN><SPAN style="LINE-HEIGHT: 1.8" class=text>
  <!--for($j=0;$j<count($vd['teltype']);$j++){-->
					  <!--if(isset($vd['tel'][$j])&&count($vd['tel'][$j]) > 0){-->
					  <SPAN class=tel>
					  {$vd['qqtype'][$j]}电话：<!--for($i=0;$i<count($vd['tel'][$j]);$i++){-->{$vd['tel'][$j][$i]}<!--}-->  
						  </SPAN><BR><!--}-->
					<!--}-->
</SPAN> 
<DIV class=clear></DIV></LI>
<LI class="noborder line"></LI>
<LI class=noborder><SPAN class="icon qq"></SPAN><SPAN class="text qqtext">
	<!--for($j=0;$j<count($vd['qqtype']);$j++){-->
						<!--if(isset($vd['qq'][$j])&&count($vd['qq'][$j]) > 0){-->
						<!--for($i=0;$i<count($vd['qq'][$j]);$i++){--><dd>
						<SPAN class=qqname>{$vd['qqtype'][$j]}QQ：<a target='_blank' href='tencent://message/?uin={$vd['qq'][$j][$i]}&Site={$vd['web']['webname']}&Menu=yes'><img border='0' src='http://wpa.qq.com/pa?p=1:{$vd['qq'][$j][$i]}:<!--if(isset($vd['config'][8])){echo $vd['config'][8]+1;}else{echo 15;}-->' alt='客服' title='客服'></A></SPAN><BR><!--}--> <!--}-->
					<!--}-->
	  </SPAN>
<DIV class=clear></DIV></LI>

                                <div class="clear">
                                </div>
                            </ul>
                        </div>
                        <div class="lianxi_d">
                        </div>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
        </div>
 {load(foot)}