<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="{$vd['web']['keywords']}" />
<meta http-equiv="Description" content="{$vd['web']['description']}" />
<link rel="stylesheet" type="text/css" href="{$vd['content']}css/ub-buy.css" />
<title>{$vd['web']['title']}</title>
<style type="text/css">
  td{height:28px;font-size:12px;}
</style>
</head>

<body>
<input type="hidden" id="webdir" name="webdir" value="{$vd['root']}">
<input type="hidden" id="platform" value="ykt"/>
<script src="{$vd['root']}{$vd['sc']}js/web.js" type="text/javascript"></script>
<div id="append_parent"></div>
<div id="topheader">
  <div id="headertab">
    <span style="float:right">
      <script src="{$vd['content']}js/cust.js"></script>
      <img src="{$vd['content']}images/icon_cx.gif" width="16" height="16" align="absmiddle"> <a href="{$vd['root']}index.php?m=mod_ykt&c=ykt&a=check">卡状态查询</a> &nbsp;
      <img src="{$vd['content']}images/icon_dz.gif" align="absmiddle"> <a href="{$vd['root']}index.php?m=mod_ykt&c=ykt&a=Tran">卡余额互转</a> &nbsp;
      <a href="{$vd['root']}index.php?m=mod_user&c=msg&a=add" target="_blank">留言投诉</a> &nbsp;
      <a href="{$vd['root']}index.php?m=mod_ykt&a=hourkf">24小时在线答疑</a> &nbsp;
      <a href="{$vd['root']}<!--if(UB_DEFAULT != 'b2b'){-->b2b<!--}-->" target="_blank">经销商</a>
    </span>
    <a href="#" Onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$vd['web']['website']}');" class="top"> 
      设为首页</a> |
      <a href=javascript:window.external.AddFavorite('{$vd['web']['website']}','{$vd['web']['webname']}') class="top">添加到收藏</a>
  </div>
</div>
<div id="ubtop">
  <div style="float:left;width:230px;">
    <img src="{$vd['imgurl']}{$vd['content']}images/mylogo.gif" alt="" border="0" height="60"/>
  </div>
  <div class="righttext">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="line-height:25px;height:60px;">
        <tr>
            <td align="center" class="black">
                <a href="{$vd['root']}<!--echo UB_DEFAULT ? '':'ykt';-->" target="_blank">返回首页</a> |
                <a href="{$vd['root']}<!--echo UB_DEFAULT ? '':'ykt';-->" target="_blank">重新选卡</a> |
                <a href="javascript:window.location.reload();">刷新本页</a>
            </td>
        </tr>
    </table>
  </div>
</div>
<!--$str='';$order = $vd['order']['item'];-->
<div class="warper">
<div class="headbg" style="position:relative">
  <div class="titlefont" align="center">{$order['pname']}</div>
  <!--if($order['orderalert'] != '' && ($order['ordstate'] == 1 || $order['ordstate'] == 3) && ($order['ptype'] == 1 || $order['ptype'] == 2)){-->
  <div id="orderalertdiv" class="palertdiv" style="display:none">
    <div class="alertdivwaper">
    <div class="alertdivinnerwaper">
    <div class="alertclose"><img src="{$vd['content']}images/tipcls.gif" onclick="disp('orderalertdiv')" style="cursor:pointer"/></div>
    <input type="checkbox" class="alertck" onclick="oDisp()" /><br/>
    </div>
    <div class="alertdivcnt">
    <p class="alerttxt" >{#ubbcode($order['orderalert'])}</p>
    </div>
    <div class="alertdivbottom"></div>
    </div>
  </div>
  <!--}-->
</div>
<div class="buy_01">
  <div class="buy_01_tip <!--if($order['ordstate']==2){-->buy_01_tip_ok<!--}else if(($order['ordstate']==1 || $order['ordstate']==3) || ($order['ordstate']==0&&$order['payment']>99)){-->buy_01_tip_wait<!--}else{-->buy_01_tip_fail<!--}-->">
    <!--if(($order['ordstate']==1 || $order['ordstate']==3) || ($order['ordstate']==0&&$order['payment']>99)){-->
    <div class="waitstatus">
      <img src="{$vd['content']}images/load.gif" style="vertical-align:middle"/>
    </div>
    <!--}-->
    <img src="{$vd['content']}images/buy_refresh.gif" style="cursor:pointer"  onclick="javascript:window.location.reload();"/>
    <img src="{$vd['content']}images/buy_close.gif"  style="cursor:pointer" onclick="javascript:self.close();"/>
  </div>
</div>
<!--if($order['payment'] > 99){-->
<table id="orderTable" class="tbody" style="border-bottom:1px #ccc dashed;background:none">
  <tr bgcolor="#f0f0f0">
    <td width="50%" style="padding: 3px" align="center">提交的一卡通卡号</td>
    <td width="35%" style="padding: 3px" align="center">提交的一卡通密码</td>
    <td width="15%" style="padding: 3px" align="center">当前状态</td>
  </tr>
  <!--foreach($vd['order']['cpitem'] as $card) {-->
  <tr bgcolor="#ffffff">
    <td width="50%" style="padding: 5px;" align="center">
      <span>{$card['cardnumber']}</span>
    </td>
    <td width="35%" style="padding: 5px" align="center">
      <span>*****</span>
    </td>
    <td width="15%" style="padding: 5px" align="center">
      <span><!--if($card['cardok']==0 || $card['cardok'] == 1){--><!--if($order['ordstate'] == -1) {--><font color="#ff0000">已退款<!--}else{--><font color="#0000ff">已支付<!--}--></font><!--}else if($card['cardok']==2){-->处理中..<!--}else{--><font color="#ff0000">失败</font><!--}--></span>
    </td>
  </tr>
  <!--}-->
</table>
<!--}-->
<table id="orderTable" class="tbody" style="border-bottom:1px #ccc dashed;background:none">
  <!--if($order['ptype'] == 0 || $order['ptype'] == 3 || $order['ptype'] > 99) {-->
  <tr bgcolor="#f0f0f0">
    <td width="50%" style="padding: 3px" align="center"><!--if($order['ptype'] == 3) {-->号码<!--}else{-->卡号<!--}-->(点击卡号即可复制，<span onclick="copyAllToClipboard()" style="cursor:pointer;color:#ff0000">点此全部复制</span>) </td>
    <td width="50%" style="padding: 3px" align="center">密码</td>
  </tr>
  <!--foreach($vd['order']['carditem'] as $card) {-->
  <tr bgcolor="#ffffff">
    <td width="50%" style="padding: 5px;" align="center">
      <span onclick="copyToClipboard('{$card['cardnumber']}')" style="cursor:pointer">{$card['cardnumber']}</span>
    </td>
    <td width="50%" style="padding: 5px" align="center">
      <span onclick="copyToClipboard('{$card['cardpwd']}')" style="cursor:pointer">{$card['cardpwd']}</span>
    </td>
  </tr>
  <!--$str .= $card['cardnumber']. "  " .$card['cardpwd']."\\r\\n";}-->
  <!--}-->
</table>
<!--if($order['ptype'] == 6) {-->
<table class="tbody">
  <tr>
    <td style="width:15%;background:#EAEAEA;font-weight:bold;padding-left:5px;height:25px;">录入员</td>
    <td style="width:55%;background:#EAEAEA;font-weight:bold;padding-left:5px;">进度</td>
    <td style="width:30%;background:#EAEAEA;font-weight:bold;padding-left:5px;">录入时间</td>
  </tr>
  <!--foreach($vd['order']['powerlv'] as $powerlv) {-->
  <tr>
    <td style="width:15%;padding-left:5px;background:#fff;height:25px;">{$powerlv['inputer']}</td>
    <td style="width:55%;padding-left:5px;background:#fff">{$powerlv['schedule']}</td>
    <td style="width:30%;padding-left:5px;background:#fff">{$powerlv['createdate']}</td>
  </tr>
  <!--}-->
</table>
<!--}-->
<table class="tbody" style="border-bottom:0px;">
  <tr>
    <td class="buylt">订单号：</td>
    <td class="buyrt"><font color="#ff0000">{$order['ordno']}</font> <!--if(($order['ordstate']==1 || $order['ordstate']==3) || $order['ordstate'] == -1) {--><!--}else{--><!--if(isset($vd['forpitts']) && $vd['forpitts'] == 1 && $order['ptype'] == 2){}else{--> [<a href="javascript:view();">投诉此订单</a>]<!--}--><!--}--></td>
  </tr>
  <tr>
    <td class="buylt">购买日期：</td>
    <td class="buyrt">{$order['orddate']}</td>
  </tr>
  <tr>
    <td class="buylt">购买商品：</td>
    <td class="buyrt"><b>{$order['pname']}</b> <a href="{#YktProductLink($order['pid'], 'ykt', $order['pid'])}">继续购买本商品</a></td>
  </tr>
  <tr>
    <td class="buylt">购买数量：</td>
    <td class="buyrt">{$order['qty']}</td>
  </tr>
  <tr>
    <td class="buylt">订单状态：</td>
    <td class="buyrt"><b>{#OrderState($order['ordstate'],$order['ptype'], $order['payment'])}</b> </td>
  </tr>
  <!--if($order['ptype'] == 0 || $order['ptype'] == 3 || $order['ptype'] > 99) {-->
  <!--if($order['failreason']!=''){-->
  <tr>
    <td class="buylt">相关说明：</td>
    <td class="buyrt" style="color:#ff0000"><!--if($order['ordstate'] == -1) {-->{$order['failreason']}<!--}--></td>
  </tr>
  <!--}-->
  <!--if($order['factoryreturn']!=''){-->
  <tr>
    <td class="buylt">系统反馈：</td>
    <td class="buyrt" style="color:#0000ff">{$order['factoryreturn']}</td>
  </tr>
  <!--}-->
  <!--}-->
  <!--if($order['ptype'] == 2 || $order['ptype'] == 1) {-->
  <tr>
    <td class="buylt">充值结果：</td>
    <td class="buyrt"><font color="#ff0000"><b>
      <!--if($order['ordstate'] == -1) {-->
      充值失败，<!--if($order['rollback'] == 1) {-->已经退还余额！<!--}-->
      <!--}-->
      <!--if($order['ordstate'] == 1 || $order['ordstate'] == 3) {-->
      已经提交系统充值，本页会即时更新结果，请留意<br/>（如长时间未反应请手动刷新本页面）
      <!--}-->
      <!--if($order['ordstate'] == 2) {-->
      已经充值成功，请玩家查询游戏时间，处理成功
      <!--}-->
      </b></font></td>
  </tr>
  <!--}-->
  <!--if($order['ptype'] == 1 || $order['ptype'] == 2) {-->
  <tr>
    <td class="buylt">充值时间：</td>
    <td class="buyrt">{$order['dealdate']}</td>
  </tr>
  <!--if($order['failreason']!=''){-->
  <tr>
    <td class="buylt">充值说明：</td>
    <td class="buyrt" style="color:#ff0000"><!--if($order['ordstate'] == -1) {-->{$order['failreason']}<!--}--></td>
  </tr>
  <!--}-->
  <!--if($order['factoryreturn']!=''){-->
  <tr>
    <td class="buylt">厂家反馈：</td>
    <td class="buyrt" style="color:#0000ff">{$order['factoryreturn']}</td>
  </tr>
  <!--}-->
  <!--}-->
  <tr>
    <td class="buylt">处理时间：</td>
    <td class="buyrt">{$order['dealdate']}</td>
  </tr>
  <!--if($order['ptype'] == 0 || $order['ptype'] > 99){-->
  <tr>
    <td class="buylt">充值网址：</td>
    <td class="buyrt"><a href="{$order['czweb']}" target="_blank">{$order['czweb']}</a></td>
  </tr>
  <!--}-->
  
  <!--if($order['ptype'] == 1 || $order['ptype'] == 2) {-->
  <tr>
    <td class="buylt">游戏用户名：</td>
    <td class="buyrt">{$order['czaccount']}</td>
  </tr>
  <!--if(isset($order['thisgame']) && $order['thisgame'] != ''){-->
  <tr>
    <td class="buylt"><!--if($order['namehide']=='thisgame'){-->登陆密码<!--}else{-->充值产品<!--}-->：</td>
    <td class="buyrt"><!--if($order['namehide']=='thisgame'){--><font color="#888888">*客户密码隐藏*</font><!--}else{-->{#CzText($order['thisgame'])}<!--}--></td>
  </tr>
  <!--}-->
    
  <!--if($order['czarea1'] != ''){-->
  <tr>
    <td class="buylt"><!--if($order['namehide']=='czarea1'){-->登陆密码<!--}else{-->充值区域<!--}-->：</td>
    <td class="buyrt"><!--if($order['namehide']=='czarea1'){--><font color="#888888">*客户密码隐藏*</font><!--}else{-->{#CzText($order['czarea1'])}<!--}--></td>
  </tr>
  <!--}-->
  <!--if($order['czarea2'] != ''){-->
  <tr>
    <td class="buylt"><!--if($order['namehide']=='czarea2'){-->登陆密码<!--}else{-->充值服务器<!--}-->：</td>
    <td class="buyrt"><!--if($order['namehide']=='czarea2'){--><font color="#888888">*客户密码隐藏*</font><!--}else{-->{#CzText($order['czarea2'])}<!--}--></td>
  </tr>
  <!--}-->
  <!--if($order['cztype'] != ''){-->
  <tr>
    <td class="buylt">
    	<!--if(strpos($order['cztype'], '::') > 0){-->
        <!--$mytemp = explode('::', $order['cztype']);$order['cztype']=$mytemp[1];-->
        {$mytemp[0]}：
      <!--}else{-->
      
      <!--if($order['namehide']=='cztype'){-->登陆密码<!--}else{-->计费方式<!--}-->：
      
      <!--}-->
    </td>
    <td class="buyrt"><!--if($order['namehide']=='cztype'){--><font color="#888888">*客户密码隐藏*</font><!--}else{-->{#CzText($order['cztype'])}<!--}--></td>
  </tr>
  <!--}-->
  <!--if($order['czother'] != ''){-->
  <tr>
    <td class="buylt">
    	<!--if(strpos($order['czother'], '::') > 0){-->
        <!--$mytemp = explode('::', $order['czother']);$order['czother']=$mytemp[1];-->
        {$mytemp[0]}：
      <!--}else{-->
      
      <!--if($order['namehide']=='czother'){-->登陆密码<!--}else{-->帐号类型<!--}-->：
      
      <!--}-->
      	
    </td>
    <td class="buyrt"><!--if($order['namehide']=='czother'){--><font color="#888888">*客户密码隐藏*</font><!--}else{-->{#CzText($order['czother'])}<!--}--></td>
  </tr>
  <!--}-->
  <!--if($order['acountpwd'] != ''){-->
  <tr>
    <td class="buylt">
    	<!--if(strpos($order['acountpwd'], '::') > 0){-->
        <!--$mytemp = explode('::', $order['acountpwd']);$order['acountpwd']=$mytemp[1];-->
        {$mytemp[0]}：
      <!--}else{-->
      
      <!--if($order['namehide']=='acountpwd'){-->登陆密码<!--}else{-->其他信息<!--}-->：
      
      <!--}-->
    </td>
    <td class="buyrt"><!--if($order['namehide']=='acountpwd'){--><font color="#888888">*客户密码隐藏*</font><!--}else{-->{#CzText($order['acountpwd'])}<!--}--></td>
  </tr>
  <!--}-->
  
  <!--if($order['others'] != '') {-->
  <tr>
    <td class="buylt">购卡备注：</td>
    <td class="buyrt"><textarea rows="5" cols="50">{$order['others']}</textarea></td>
  </tr>
  <!--}-->
    
  <!--}-->
  <!--if($order['ptype'] == 6) {-->
  <tr>
    <td class="buylt">代练角色：</td>
    <td class="buyrt">{$order['rolename']}</td>
  </tr>
  <tr>
    <td class="buylt">所在区域：</td>
    <td class="buyrt">{#CzText($order['czarea1'])}</td>
  </tr>
  <tr>
    <td class="buylt">所在服务器：</td>
    <td class="buyrt">{#CzText($order['czarea2'])}</td>
  </tr>
  <tr>
    <td class="buylt">计费方式：</td>
    <td class="buyrt">{#CzText($order['cztype'])}</td>
  </tr>
  <tr>
    <td class="buylt">帐号类型：</td>
    <td class="buyrt">{#CzText($order['czother'])}</td>
  </tr>
  <!--}-->
  <!--if($order['ptype'] == 4 || $order['ptype'] == 5) {-->
  <tr>
    <td class="buylt">交易方式：</td>
    <td class="buyrt"><textarea name="ubzabst" wrap="VIRTUAL" cols="30" rows="3" scrolling="yes" style="padding:5px">{$order['tradeterm']}</textarea></td>
  </tr>
  <tr>
    <td class="buylt">游戏角色：</td>
    <td class="buyrt">{$order['czaccount']}</td>
  </tr>
  <tr>
    <td class="buylt">所在区域：</td>
    <td class="buyrt">{#CzText($order['czarea1'])}</td>
  </tr>
  <tr>
    <td class="buylt">所在服务器：</td>
    <td class="buyrt">{#CzText($order['czarea2'])}</td>
  </tr>
  <tr>
    <td class="buylt">计费方式：</td>
    <td class="buyrt">{#CzText($order['cztype'])}</td>
  </tr>
  <tr>
    <td class="buylt">帐号类型：</td>
    <td class="buyrt">{#CzText($order['czother'])}</td>
  </tr>
  <tr>
    <td class="buylt">处理时间：</td>
    <td class="buyrt">{$order['dealdate']}</td>
  </tr>
  <!--}-->
</table>
<table class="tbody">
  <tr>
    <td class="buylt">复制地址以后查询：</td>
    <td class="buyrt"><input id="pagehref" type="text" size="25" class="Index_font3"  readonly value="" onMouseMove="this.select()" onclick="copyToClipboard(this.value)"/>  <font color="#0000ff">在浏览器中输入即可查询结果</font></td>
  </tr>
  <tr>
    <td colspan="2" align="center" style="border-top:1px #ccc dashed;height:50px;">
      <input type="button" value="投诉本订单" onclick="view();" class="button" <!--if(($order['ordstate']==1 || $order['ordstate']==3) || $order['ordstate'] == -1 || (isset($vd['forpitts']) && $vd['forpitts'] == 1 && $order['ptype'] == 2)) {-->disabled<!--}-->/>
      <input type="button" value="回到首页" onclick="window.location='{$vd['root']}<!--echo UB_DEFAULT ? '':'ykt/';-->'" class="button">
      <input type="button" value="刷新本面" onclick="window.location.reload();" class="button">
      <input type="button" value="关闭页面" onclick="window.close();" class="button">
    </td>
  </tr>
  <tr>
    <td colspan="2" style="border-top:1px #ccc dashed;">
      <form action="index.php?m=mod_ykt&c=order&a=complaint" method="post" target="_blank">
        <table id="complainttable" width="100%" style="display:none">
          <tr>
            <td class="buylt">标题：</td>
            <td class="buyrt"><input type="text" name="title" value="投诉订单{$order['ordno']}"/></td>
          </tr>
          <!--if($vd['islogin']==0){-->
          <tr>
            <td class="buylt">联系方式：</td>
            <td class="buyrt"><textarea rows="2" name="lianxi" cols="38"></textarea><br/><font color="#6c6c6c">请写上联系方式，并注明是何种方式，如QQ:8888888</font></td>
          </tr>
          <!--}-->
          <tr>
            <td class="buylt">内容：</td>
            <td class="buyrt"><textarea rows="5" name="content" cols="38"></textarea>
              <!--if($vd['islogin']==1){-->
              <br/><font color="#6c6c6c">请在投诉内容里边附上其他联系方式</font>
              <!--}-->
            </td>
          </tr>
          <tr>
            <td class="buylt"></td>
            <td class="buyrt">
              <input type="hidden" value="{$order['ordno']}"  name="ordno">
              <input type="submit" value="提交投诉"  class="button">
            </td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
</div>
<table style="width:540px;margin:0 auto;" border="0" cellpadding="0" cellspacing="0" id="foot">
  <tr>
    <td style="padding:10px;text-align:left;line-height:20px;float:left" valign="top">
      {$vd['sips']}
    </td>
    <td style="padding:10px;text-align:right;line-height:20px;">
      版权所有 &copy; 2004-2011 {$vd['web']['webname']}<br>ICP备案号：<a href="http://www.miibeian.gov.cn" target="_blank"">{$vd['web']['beian']}</a>
    </td>
  </tr>
</table>

<!--if($vd['dispkf']){-->
<div id="kfcbdiv" onmouseover="setLeft('-8px')" onmouseout="setLeft('-156px')">
  <div class="im">
    <div>
      <!--for($j=0;$j<1;$j++){-->
      <!--if(isset($vd['qq'][$j])&&count($vd['qq'][$j]) > 0){-->
      <h3>客服QQ：</h3>
      <!--for($i=0;$i<count($vd['qq'][$j]);$i++){-->
        <a href="tencent://message/?uin={$vd['qq'][$j][$i]}&Site={$vd['web']['webname']}&Menu=yes" target="_blank">
        <img border="0" SRC="http://wpa.qq.com/pa?p=1:{$vd['qq'][$j][$i]}:15" alt="点击这里给我发消息" />
        </a><br/>
      <!--}-->
      <!--}-->
      <!--}-->
  
      <!--for($j=0;$j<1;$j++){-->
      <!--if(isset($vd['wangwang'][$j])&&count($vd['wangwang'][$j]) > 0){-->
      <h3>客服旺旺：</h3>
      <!--for($i=0;$i<count($vd['wangwang'][$j]);$i++){-->
        <a target="_blank" href="http://amos1.taobao.com/msg.ww?v=2&uid={$vd['wangwang'][$j][$i]}&s=1" >
          <img border="0" src="http://amos1.taobao.com/online.ww?v=2&uid={$vd['wangwang'][$j][$i]}&s=1" alt="点击这里给我发消息" />
        </a><br/>
      <!--}-->
      <!--}-->
      <!--}-->
  
      <!--for($j=0;$j<1;$j++){-->
      <!--if(isset($vd['hi'][$j])&&count($vd['hi'][$j]) > 0){-->
      <h3>客服Hi：</h3>
      <!--for($i=0;$i<count($vd['hi'][$j]);$i++){-->
        <a href="baidu://message/?id={$vd['hi'][$j][$i]}">
          <img src="http://tieba.baidu.com/tb/img/hi/hiOnline.gif" border="0">
        </a> <br/>
      <!--}-->
      <!--}-->
      <!--}-->
    </div>
  </div>
  <div class="rxtel">
    <!--for($j=0;$j<1;$j++){-->
    <!--if(isset($vd['tel'][$j])&&count($vd['tel'][$j]) > 0){-->
      {$vd['tel'][0][0]}
    <!--}-->
    <!--}-->
  </div>
  <div class="tstel">
    <!--for($j=0;$j<1;$j++){-->
    <!--if(isset($vd['tel'][0][1])){-->
      {$vd['tel'][0][1]}
    <!--}-->
    <!--}-->
  </div>
</div>
<!--}-->
<script type="text/javascript">  
function disp(id)
{
  ste = document.getElementById(id).style.display;
  document.getElementById(id).style.display = ste == "" ? "none" : ""; 
}
function offdisp(id)
{
  ste = $(id).style.display;
  $(id).style.display = "none"; 
}
<!--if($order['orderalert'] != '' && ($order['ordstate']==1 || $order['ordstate']==3) && ($order['ptype'] == 1 || $order['ptype'] == 2)){-->
  function oDisp()
  {
    setCookie("umebiz_orderalertykt_{$order['pid']}",1,365);
  }
  
  if(getCookie("umebiz_orderalertykt_{$order['pid']}") == 0)
  {
    disp('orderalertdiv');
    //setTimeout("offdisp('orderalertdiv')",15000);
  }

  function getCookie(c_name)
  {
    if (document.cookie.length>0)
    {
      c_start=document.cookie.indexOf(c_name + "=");
      if (c_start!=-1)
      {
        c_start=c_start + c_name.length+1;
        c_end=document.cookie.indexOf(";",c_start);
        if (c_end==-1) c_end=document.cookie.length;
        return unescape(document.cookie.substring(c_start,c_end));
      }
    }
    return "";
  }
  
  function setCookie(c_name,value,expiredays)
  {
    var exdate=new Date();
    exdate.setDate(exdate.getDate()+expiredays);
    document.cookie=c_name+ "=" +escape(value)+
    ((expiredays==null) ? "" : ";expires="+exdate.toGMTString());
  }
<!--}-->

<!--if($vd['dispkf']){-->
function setLeft(v)
{
  $("kfcbdiv").style.left = v;
}

window.onscroll= function setScl()
{
  $("kfcbdiv").style.top = document.documentElement.scrollTop + 100 + "px";
}
<!--}-->

<!--if(($order['ordstate']==1 || $order['ordstate']==3) || ($order['ordstate']==0&&$order['payment']>99)){-->

var payment = "{$order['payment']}";
var xmlhttp;

loadXMLDoc();

function loadXMLDoc()
{
  xmlhttp=null;
  var url=null;
  
  url = "ordno="+escape("{$order['ordno']}");
  
  <!--if(isset($order['sup'])&&$order['sup']==1){-->
  url = url + "&sign="+escape("{$vd['sign']}");
  <!--}-->
  // 针对 Mozilla等浏览器的代码：
  if (window.XMLHttpRequest)
  {
    xmlhttp=new XMLHttpRequest();
  }
  // 针对 IE 的代码：
  else if (window.ActiveXObject)
  {
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  
  if (xmlhttp!=null)
  {
    xmlhttp.onreadystatechange=state_Change;
    xmlhttp.open("post", "index.php?m=mod_ykt&c=Ack&a=GetState", true);
    xmlhttp.setRequestHeader('Content-type','application/x-www-form-urlencoded');
    xmlhttp.send(url);
  }
  else
  {
    alert("您的浏览器不支持XMLHTTP")
  }
}

function state_Change()
{
  // 如果 xmlhttp 显示为 "loaded"
  if (xmlhttp.readyState==4)
  {
    // 如果为 "OK"
    if (xmlhttp.status==200)
    {
      // 其他代码..
      var ackdata=xmlhttp.responseText;
      ackparase(ackdata);
    }
  }
}

function ackparase(ackdata)
{
  //解析服务器返回的数据
  if ( (ackdata == "1" || ackdata == "3") || (payment>99 && ackdata == "0"))
  {
    setTimeout("loadXMLDoc()",1500);
  }
  else if(ackdata == "-2")
  {
    alert('订单不存在！');
    window.close();
  }
  else
  {
    window.location.reload();
  }
}
<!--}-->

function copyAllToClipboard()
{
  var str = "{$str}";
  copyToClipboard(str);
}

function copyToClipboard(text){
  if(text==null||text=='undefined')
  return;
      
  if (window.clipboardData)
  {
    window.clipboardData.setData("Text", text);
  }
  else if (window.netscape)
  {
  netscape.security.PrivilegeManager.enablePrivilege('UniversalXPConnect');
  var clip = Components.classes['@mozilla.org/widget/clipboard;1']
                .createInstance(Components.interfaces.nsIClipboard);
  if (!clip) return;
  var trans = Components.classes['@mozilla.org/widget/transferable;1']
                 .createInstance(Components.interfaces.nsITransferable);
  if (!trans) return;
  trans.addDataFlavor('text/unicode');
  
  var str = new Object();
  var len = new Object();
  
  var str = Components.classes["@mozilla.org/supports-string;1"]
               .createInstance(Components.interfaces.nsISupportsString);
  
  var copytext=text;
  
  str.data=copytext;
  
  trans.setTransferData("text/unicode",str,copytext.length*2);
  
  var clipid=Components.interfaces.nsIClipboard;
  
  if (!clip) return ;
  
  clip.setData(trans,null,clipid.kGlobalClipboard);
  
  }
  window.alert("已复制成功，请直接粘贴\n"+text);
}

var isview = 0;
function view()
{
  if(isview == 0)
  {
    document.getElementById("complainttable").style.display = "";
    isview = 1;
  }
  else
  {
    document.getElementById("complainttable").style.display = "none";
    isview = 0;
  }
}

initInfo();
function initInfo()
{
  pagehref.value = document.location.href;
}

var IMGDIR = "{$vd['content']}images";
  
  FadeObjects = new Object();
  FadeTimers = new Object();

  function Fade(object, destOp, rate, delta)
  {
    if (!document.all) return;
    if (object != "[object]")
    {  
       setTimeout("Fade("+object+","+destOp+","+rate+","+delta+")",0);
       return;
    }
        
    clearTimeout(FadeTimers[object.sourceIndex]);
    
    diff = destOp-object.filters.alpha.opacity;
    direction = 1;
    if (object.filters.alpha.opacity > destOp)
    {
      direction = -1;
    }
    delta=Math.min(direction*diff,delta);
    object.filters.alpha.opacity+=direction*delta;

    if (object.filters.alpha.opacity != destOp)
    {
      FadeObjects[object.sourceIndex]=object;
      FadeTimers[object.sourceIndex]=setTimeout("Fade(FadeObjects["+object.sourceIndex+"],"+destOp+","+rate+","+delta+")",rate);
    }
  }

  function MM_displayStatusMsg(msgStr) 
  { 
    status=msgStr;
    document.MM_returnValue = true;
  }
  
  
  function SendFetion()
  {
    var xmlhttp3 = null;
    url = "ordno="+escape("{$order['ordno']}");
    // 针对 Mozilla等浏览器的代码：
    if (window.XMLHttpRequest)
    {
      xmlhttp3=new XMLHttpRequest();
    }
    // 针对 IE 的代码：
    else if (window.ActiveXObject)
    {
      xmlhttp3=new ActiveXObject("Microsoft.xmlhttp");
    }

    if (xmlhttp3!=null)
    {
      xmlhttp3.onreadystatechange=function(){
        if (xmlhttp3.readyState==4)
        {
          // 如果为 "OK"
          if (xmlhttp3.status==200)
          {
            
          }
        }
      };
      xmlhttp3.open("post", "index.php?m=mod_ykt&c=Ack&a=SendFetion", true);
      xmlhttp3.setRequestHeader('Content-type','application/x-www-form-urlencoded');
      xmlhttp3.send(url);
    }
    else
    {
      alert("您的浏览器不支持xmlhttp")
    }
  }
  
  SendFetion();

</script>
<script src="{$vd['content']}js/common.js"></script>
</body>
</html>
