<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link rel="stylesheet" type="text/css" href="{$vd['sc']}css/main.css"/>
</head>
<body>
<!--$item = $vd['order']['item'];-->  

<div id="titleDiv">
<div style="float:left"><a href="index.php?a=home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div><div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <a href="index.php?m=mod_b2b&c=order&by=1" title="订单列表"><font color="#000">订单列表</font></a> <span style="font-size:7px;">>></span> <span style="font-size:12px;">订单详细信息</span></div>
<div style="float:right;"><a href="index.php" onFocus="this.blur()" title="查看订单相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>

<div id="content" class="cwarpper">
<div class="cbodyHead"></div>
<form action="index.php?m=mod_b2b&c=Bd&a=check&id={$item['id']}" method="post">
<div class="cwarpper1">
<div class="ctitle">基本信息</div>
<div>
<table border="1" id="ctable1" class="ctable" bordercolor="#86B9D6">
  <tr>
    <td class="tablelt" height="50px">充值号码：</td>
    <td class="tablert">{$item['czaccount']}</td>
  </tr>
  <!--if($item['accpwd'] !==''){-->
  <tr>
    <td class="tablelt" height="50px">账号密码：</td>
    <td class="tablert">{$item['accpwd']}</td>
  </tr>
  <!--}-->
  <tr>
    <td class="tablelt" height="50px">业务类型：</td>
    <td class="tablert"><b>{$item['cztype']}</b></td>
  </tr>
  <tr>
    <td class="tablelt" height="50px">图标是否亮：</td>
    <td class="tablert">{$item['czaccount']}</td>
  </tr>
  <tr>
    <td class="tablelt" height="50px">客户提交备注：</td>
    <td class="tablert"><textarea rows="3" name="bankalert" style="width:208px;background:#f8f8f8" readonly>{$item['remark']}</textarea></td>
  </tr>
  <tr>
    <td class="tablelt" height="50px">补单管理员：</td>
    <td class="tablert">{$item['admname']}</td>
  </tr>
  <tr>
    <td class="tablelt" height="50px">提交时间：</td>
    <td class="tablert">{$item['createdate']}</td>
  </tr>
  <tr>
    <td class="tablelt" height="50px">处理时间：</td>
    <td class="tablert">{$item['dealdate']}</td>
  </tr>
  <tr>
    <td class="tablelt" height="50px">处理状态：</td>
    <td class="tablert">
    	<select name="ordstate">
        {#Option($vd['bdstate'], $item['ordstate'])}
      </select>
    </td>
  </tr>
  
  <tr>
    <td class="tablelt" >管理员回复：<br/></td>
    <td class="tablert">
    	<textarea rows="3" name="failreason" style="width:208px;">{$item['admremark']}</textarea>
    </td>
  </tr>
  
  <tr>
    <td class="tablelt" style="height:50px;"></td>
    <td class="tablert">
    	<input type="submit" value=" 提 交 " class="button" /> 
    	<input type="reset" value=" 重 置 " class="button"/>
    </td>
  </tr>
</table>
</div>
</div>

<div id="opcontent" style="display:none">
  
  <div class="optxt">
    <input type="button" onclick="disp('adddiv')" value="处理此订单" class="btn"/>
  </div>
</div>
<div id="load" style="display:none;">
  <div id="loadcontent" >正在补单中...</div>
</div>
<script type="text/javascript">
  var ctablenum = 4;
</script>
<script src="{$vd['sc']}js/content.js" type="text/javascript"></script>
<script type="text/javascript">
  
  function set(obj)
  {
    $("custom").value = obj.value;
    $("custom").checked = true;
  }
  
  function setrollback()
  {
    $("rollback").checked = true;
    $("tradepwd").style.display = "";
  }
  
  function dispTrade()
  {
    $("tradepwd").style.display = $("rollback").checked ? "" : "none";
  }
  
  
</script>
</body>
</html>
