<!--if($vd['table']==0){-->
{load(head)}
<body>
  
<div class="titleDiv" id="titleList">
<div style="float:left"><a href="index.php?a=Home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div><div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=Home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <font color="#000">补单列表</font> (共 <b><span id="tol1">{$vd['totlerow']}</span></b> 个)
<strong onmouseover="showhide(this);" onmouseout="showhide(this);" style="cursor:pointer">[?]</strong><p style="display:none">
      1、提交：自动进入已提交补单状态<br/>
      2、成功：进入补单完成状态<br/>
      点击页面 "未补单" 进入那些已提交补单状态的单子列表<br/>
    </p> 
</div>
<div style="float:right"><a href="index.php?m=mod_home&a=Help&t=admin_b2b_order_index" onFocus="this.blur()" title="查看订单相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>
<div class="mytitle" id="mytitle">
  <div class="titleOp4" onmouseover="this.className='iconbg4'" onmouseout="this.className='titleOp4'" onclick="delAllSubmit('destroyitems')"><samp title="先选择您要删除的行,再点此按钮">
    <div style="padding-top:10px;padding-left:9px;">批量销毁</div></samp>
  </div>
  <div class="titleOp2" onmouseover="this.className='iconbg2'" onmouseout="this.className='titleOp2'" onclick="tableRefresh()"><samp title="点击刷新本页刷新数据,并保持原来勾选状态">
    <div style="padding-top:10px;padding-left:9px;">刷新</div></samp>
  </div>
  <div class="titleOp4"  onmouseover="if(editRealtime) return;this.className='iconbg4'" onmouseout="if(editRealtime) return;this.className='titleOp4'" onclick="batchEdit(this)" style="margin-right:7px"><samp title="批量修改所选项的记录">
    <div style="padding-top:10px;padding-left:10px;">实时修改</div></samp>
  </div>
  <div class="titleOp4"  onmouseover="if(editRealtime) return;this.className='iconbg4'" onmouseout="if(editRealtime) return;this.className='titleOp4'" onclick="loadDisp(1);window.location='?m=mod_b2b&c=Bd&aid=-2&ordstate=3'" style="margin-right:7px"><samp title="选择已经提交但是未处理的补单信息">
    <div style="padding-top:10px;padding-left:10px;color:#ff0000">未补单</div></samp>
  </div>
  <div style="float:right;padding-top:4px;">
    <form action="index.php?m=mod_b2b&c=Bd&by=1&allaid={$vd['allaid']}&aid={$vd['aid']}" method="post" style="margin:0px 0px 0px 0px;" onsubmit="return searchSubmit()">
    <input type="text" name="keywords" size="25" value="{$vd['keywords']}" style="vertical-align:middle;" class="custsearch" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
    <select name="stype" style="vertical-align:middle;font-size:14px;">
      {#Option($vd['sarray'], $vd['stype'])}
    </select>
    <select name="ordstate" style="vertical-align:middle;font-size:14px;">
      {#Option($vd['oarray'], $vd['otype'])}
    </select>
    <input type="submit" value="搜 索" style="vertical-align:middle;" class="button"/><input type="button" value="&gt;&gt;"  onclick="disp('adddiv')" class="button adv"/>
    </form>
  </div>
</div>

<div id="contentTip" style="display:none;"></div>
<div id="adddiv" style="position:absolute;top:100px;left:230px;;width:320px;display:none">
  <div class="popbg">
  <div class="poptitle">高级搜索</div>
  <div style="float:right;"><img src="{$vd['sc']}images/destroy.gif" onclick="disp('adddiv')" style="cursor:pointer"/></div>
  <form action="index.php?m=mod_b2b&c=Bd&inrecycle={$vd['inrecycle']}" method="post" onsubmit="return searchSubmit()" style="clear:both">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="25%">起始日期</td>
      <td width="75%">
        <input type="text" name="startdate" size="18" value="{$vd['startdate']}" style="vertical-align:middle;" id="startdate" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
        <img src="{$vd['sc']}images/calender.gif" onclick="dateDialog('startdate')" style="vertical-align:middle;cursor:pointer;margin-left:0px;"/>
      </td>
    </tr>
    <tr>
      <td width="25%">终止日期</td>
      <td width="75%">
        <input type="text" name="enddate" size="18" value="{$vd['enddate']}" style="vertical-align:middle;"  id="enddate" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
        <img src="{$vd['sc']}images/calender.gif" onclick="dateDialog('enddate')" style="vertical-align:middle;cursor:pointer;margin-left:0px;"/>
      </td>
    </tr>
    <tr>
      <td width="25%">关键词</td>
      <td width="75%">
        <input type="text" name="keywords" size="25" value="{$vd['keywords']}" style="vertical-align:middle;" class="custsearch" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />
      </td>
    </tr>
    <tr>
      <td width="25%">搜索类型</td>
      <td width="75%">
        <select name="stype" style="vertical-align:middle;font-size:14px;">
        {#Option($vd['sarray'], $vd['stype'])}
        </select>
      </td>
    </tr>
    <tr>
      <td width="25%">订单状态</td>
      <td width="75%">
        <select name="ordstate" style="vertical-align:middle;font-size:14px;">
        {#Option($vd['oarray'], $vd['otype'])}
        </select>
      </td>
    </tr>
    <tr>
      <td width="25%"></td>
      <td width="75%">
        <input type="hidden" value="inrecycle" value="{$vd['inrecycle']}"/>
        <input type="submit" value="搜 索" class="button"/>
        <input type="button" value="取 消" onclick="disp('adddiv')" class="button"/>
      </td>
    </tr>
  </table>
  </form>
  </div>
</div>
<div id="menuMask" class="menuMask" style="display:none">
  <form action="?m=mod_b2b&c=Tpl&tpl=bd" method="post" style="margin:0px">
  <div class="menuContent">
  <input type="checkbox" name="id[]" value="cztype" id="cztype" onFocus='this.blur()'/>业务类型<br/>
  <input type="checkbox" name="id[]" value="czaccount" id="czaccount" onFocus='this.blur()'/>充值用户<br/>
  <input type="checkbox" name="id[]" value="accpwd" id="accpwd" onFocus='this.blur()'/>用户密码<br/>
  <input type="checkbox" name="id[]" value="islight" id="islight" onFocus='this.blur()'/>图标是否亮<br/>
  <input type="checkbox" name="id[]" value="remark" id="remark" onFocus='this.blur()'/>订单备注<br/>
  <input type="checkbox" name="id[]" value="cip" id="cip" onFocus='this.blur()'/>下单者IP<br/>
  <input type="checkbox" name="id[]" value="createdate" id="createdate" onFocus='this.blur()'/>提交时间<br/>
  <input type="checkbox" name="id[]" value="state" id="state" onFocus='this.blur()'/>订单状态<br/>
  <input type="checkbox" name="id[]" value="aid" id="aid" onFocus='this.blur()'/>所属<br/>
  <input type="checkbox" name="id[]" value="quickcheck" id="quickcheck" onFocus='this.blur()'/>快速提交<br/>
  <input type="checkbox" name="id[]" value="suc" id="suc" onFocus='this.blur()'/>确认成功<br/>
  <input type="checkbox" name="id[]" value="cz" id="cz" onFocus='this.blur()'/>补单<br/>
  <input type="checkbox" name="id[]" value="admremark" id="admremark" onFocus='this.blur()'/>管理员回复<br/>
  <input type="checkbox" name="id[]" value="tadmin" id="tadmin" onFocus='this.blur()'/>补单管理员<br/>
  <input type="checkbox" name="id[]" value="view" id="view" onFocus='this.blur()'/>查看订单<br/>
  </div>
  <div class="menuOp">
  <input type="submit" value="保存" class="button"/>
  <input type="button" value="重置" class="button" onclick="tInfoReset()"/>
  <input type="button" value="取消" class="button" onclick="setMenuMask()"/>
  </div>
  </form>
</div>

<table id="thead" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30px">
      <input name="chkall" id="chkall" type="checkbox" class="checkbox" onclick="CheckAll(this)" onFocus='this.blur()'/></td>
<!--//thead-->
<td width="160px"><b>业务类型</b></td>
<td width="90px"><b>充值账号</b></td>
<td width="150px"><span class="canedit">备注</span></td>
<td width="140px"><b>提交时间</b></td>
<td width="95px"><b>订单状态</b></td>
<td width="90px"><b>所属</b></td>
<td width="35px"><b>提交</b></td>
<td width="35px"><b>成功</b></td>
<td width="40px"><b>补单</b></td>
<td width="150px"><span class="canedit">管理员回复</span></td>
<td width="120px"><b>补单管理员</b></td>
<td width="22px"><img src="{$vd['sc']}images/icon_view.gif"/></td>
<!--//endthead-->
    <td width="22px">
      <!--if($vd['inrecycle']==0){-->
      <img src="{$vd['sc']}images/icon_trash.gif"/>
      <!--}else{-->
      <img src="{$vd['sc']}images/destroy.gif"/>
      <!--}-->
    </td>
    <td class="endtd">
      <div class="infoicon" onclick="setMenuMask()"><b><u>>></u></b></div>
    </td>
  </tr>
</table>
<div id="tip" style="display:none">
  <span id="tiptable">此页中所有 <b><span id="ncheck"><!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']--></span></b> 条记录已选中 </span> 
  <span id="tipspan">
    <a href="javascript:CheckTotle({$vd['totlerow']},0)">点此选择当前列表中所有 <b>{$vd['totlerow']}</b> 条记录>></a>
  </span>
</div>
<div id="content">
<!--}-->
  <!--if($vd['totlerow'] == 0) {-->
  <table  width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" colspan="20">无任何记录</td>
  </tr>
  </table>
  <!--}-->
  <form id="cform" name="form" method="post" action="index.php?m=mod_b2b&c=Bd&a=ItemDeal" onsubmit="return Check();">
  <table id="tbody"  border="0" cellspacing="0" cellpadding="0">
  
  <!--foreach($vd['items'] as $item) {-->
  <tr onmouseover="setoverbg(this)" onmouseout="setoutbg(this)">
    <td width="30px">
      <input type="checkbox" name="id[]" id="idchk_{$item['id']}" class="checkbox" onclick="CheckThis(this)" onFocus='this.blur()' value="{$item['id']}" />
    </td>
<!--//tbody-->
<td width="160px"><nobr><samp title="{$item['cztype']}">{$item['cztype']}</samp></nobr></td>
<td width="90px"><span onclick="copyToClipboard('{$item['czaccount']}')" style="cursor:pointer" title="点击直接复制">{$item['czaccount']}</span></td>
<td width="150px">{$item['remark']}</td>
<td width="140px">{$item['createdate']}</td>
<td width="95px">{#OrderStateBd($item['ordstate'])}</td>
<td width="90px"><a href="index.php?m=mod_b2b&c=order&comefrom={$item['comefrom']}&by=1&inrecycle={$vd['inrecycle']}" onclick="loadDisp(1)">{#ComeFrom($item['comefrom'])}</a>(<a href="index.php?m=mod_b2b&c=order&aid={$item['aid']}&comefrom={$item['comefrom']}&by=1&inrecycle={$vd['inrecycle']}" onclick="loadDisp(1)"><font color="#ff0000">{#DisplayCode($item['aid'])}</font></a>)</td>
<td width="35px"><!--if($item['ordstate']!=1 ){--><img src="{$vd['sc']}{#ToggleImgSrc($item['ordstate']==1 ? 0 : 1)}" /><!--}else{--><img src="{$vd['sc']}{#ToggleImgSrc($item['ordstate']==1 ? 0 : 1)}" onclick="toToggle(this,'{$item['id']}','ordstate')" alt="点此马上修改订单状态为交易完成状态！" onFocus="this.blur()" class="mousehand"/><!--}--></td>
<td width="35px"><!--if($item['ordstate']==2){--><img src="{$vd['sc']}{#ToggleImgSrc($item['ordstate']==2 ? 1 : 0)}" /><!--}else{--><img src="{$vd['sc']}{#ToggleImgSrc($item['ordstate']==2 ? 1 : 0)}" onclick="toToggle(this,'{$item['id']}','ordstate3')" alt="点此马上修改订单状态为交易完成状态！" onFocus="this.blur()" class="mousehand"/><!--}--></td>
<td width="40px"><input type="button" value="处理" class="button" style="width:35px;" onclick="window.location='?m=mod_b2b&c=bd&a=cetail&id={$item['id']}'"/></td>
<td width="150px"><span onclick="toInput(this,'{$item['id']}','admremark')"><!--if($item['admremark']==''){-->--<!--}else{-->{$item['admremark']}<!--}--></span></td>
<td width="120px">{$item['admname']}</td>
<td width="22px"><a href="index.php?m=mod_b2b&c=Bd&a=detail&id={$item['id']}" title="查看订单" onFocus="this.blur()" onclick="loadDisp(1)"><img src="{$vd['sc']}images/icon_view.gif"/></a></td>
<!--//endtbody-->
    <td width="22px">
      <img src="{$vd['sc']}images/destroy.gif" onclick="delSubmit({$item['id']},'destroyitems')" alt="销毁订单,无法恢复" style="cursor:pointer"/>
    </td>
    <td class="endtd"></td>
  </tr>
  <!--}-->
  
</table>
</form>
<input type="hidden" value="{$vd['totlepage']}" id="totlePage"/>
<input type="hidden" value="{$vd['thispage']}" id="thisPage"/>
<!--if($vd['table']==0){-->
</div>

<input type="hidden" value="index.php?m=mod_b2b&c=Bd&a=Deals&{$vd['op']}" id="op"/>
<input type="hidden" value="index.php?m=mod_b2b&c=Bd&istable=1&{$vd['op']}" id="url"/>
<input type="hidden" value="{$vd['op']}" id="params"/>
<div style="position:absolute;bottom:0px">
  <div class="tbBottom" id="tbBottom">
    <div style="float:left;padding-top:8px;">
      <strong> 总计 <font color="#ff0000"><span id="tol2">{$vd['totlerow']}</span></font> 条</strong>
    </div>
    <div style="float:right;text-align:right;">
    <form id="actionform" method="post" action="index.php?m=mod_b2b&c=Bd&{$vd['op']}" style="margin:0px;" onsubmit="loadDisp(1)">
    <div id="page"></div>
    <div style="float:left;margin-top:3px">
      每页显示<input type="text" name="nrows" size="2" value="{$vd['nrows']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" /> 个 
      到第<input type="text" name="page" size="2" value="{$vd['thispage']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />页<input type="submit" value=" 确 定 &gt;&gt;" class="pagesub" />
    </div>
    </form>
    </div>
  </div>
</div>
<div id="load" style="display:none;">
  <div id="loadcontent" >页面加载中请稍等...</div>
</div>
</body>
<script type="text/javascript">
//第一参数，后边保留显示的列数
//第二参数，除最后一个参数外的保留参数的总宽度
tRows   = <!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']-->;
tInfoA  = Array(1,29);
totleRows = {$vd['totlerow']};
deltxt  = "如果您销毁的订单含有成功订单，有可能会影响到您的财务统计，建议不要销毁，并把他还原\n\n假如销毁，对应的订单将无法恢复，您确定进行销毁操作吗？";
thisaction = "销毁";
thisdel = 0;
onedel  = 0;
sc = "{$vd['sc']}";
statistics = 0;
var resizeidx = 1;
</script>
<script type="text/javascript">
//当前表格配置
<!--//tinfo-->
 tInfo = Array('cztype','czaccount','remark','createdate','state','aid','quickcheck','suc','cz','admremark','tadmin','view');
<!--//endtinfo-->
function copyToClipboard(text){
  
  if(text==null||text=='undefined')
  return;
  
  if (window.clipboardData)
  {
    window.clipboardData.setData("Text", text);
  }
  else if (window.netscape)
  {
  netscape.security.PrivilegeManager.enablePrivilege('UniversalXPConnect');
  var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);
  if (!clip) return;

  var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);
  if (!trans) return;
  trans.addDataFlavor('text/unicode');
  
  var str = new Object();
  var len = new Object();
  
  var str = Components.classes["@mozilla.org/supports-string;1"]
               .createInstance(Components.interfaces.nsISupportsString);
  
  var copytext=text;
  
  str.data=copytext;
  
  trans.setTransferData("text/unicode",str,copytext.length*2);
  
  var clipid=Components.interfaces.nsIClipboard;
  
  if (!clip) return ;
  
  clip.setData(trans,null,clipid.kGlobalClipboard);
  
  }
  
  alert("已复制成功，请直接粘贴\n"+text);
}
</script>
<script src="{$vd['sc']}js/tools.js" type="text/javascript"></script>

<script type="text/javascript">
  function CheckPwd()
  {
    var xmlhttpcp;
    var obj = document.getElementById("sysmsg");
    
    try{
      xmlhttpcp=new XMLHttpRequest();
    }
    catch(e){
      xmlhttpcp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    
    xmlhttpcp.onreadystatechange=function(){
      if (xmlhttpcp.readyState==4){
        if (xmlhttpcp.status==200){
          var data=xmlhttpcp.responseText;
          if(data == "1"){
            tdivid = $("divid").value;
            tdivmethod = $("divmethod").value;
            disp('cdiv');
            if(tdivid == 0)
            {
              delAllSubmit(tdivmethod);
            }
            else
            {
              delSubmit(tdivid, tdivmethod);
            }
          }
          else
          {
            alert("您输入的密码不正确")
          }
        }
      }
    }
    
    xmlhttpcp.open("post", "index.php?m=mod_b2b&c=Bd&a=CheckPwd", true);
    xmlhttpcp.setRequestHeader('Content-type','application/x-www-form-urlencoded');
    xmlhttpcp.send('tradepwd=' + $("tradepwd").value);
  }
  
  
</script>
<script type="text/javascript">
	function tableRefresh1()
  {
  	loadDisp(0);
  	var thisPage  = parseInt($("thisPage").value);
  	httpurl = $("url").value + "&page=" + thisPage;
  	loadXMLDoc(state_Change, httpurl);
  }
	setInterval(tableRefresh1, 30000);
</script>
</html>
<!--}-->
