<div>
  <div class="rstitle">详细订单</div>
  <!--$item=$vd['err'];-->
  <table width="100%" cellspacing="1" cellpadding="3" border="0" bgcolor="#b3dd8c">
    <span style="font-size: 9pt">尊敬的客户您好,由于以下原因造成<font color="#ff0000"><b>交易失败</b></font>,记下<font color="#ff0000"><b>订单号</b></font>并提供给客服以便处理：</span><br/>
    <tr bgcolor="#ccf1aa">
      <td width="20%" style="padding: 5px" align="center">原因</td>
      <td width="80%" style="padding: 5px" align="left">{$item['content']}</td>
    </tr>
    <tr bgcolor="#ccf1aa">
      <td width="20%" style="padding: 5px" align="center">订单号</td>
      <td width="80%" style="padding: 5px" align="left">{$item['ordno']}</td>
    </tr>
    <tr bgcolor="#ccf1aa">
      <td width="20%" style="padding: 5px" align="center">操作</td>
      <td width="80%" style="padding: 5px" align="left">[<a href="index.php?m=mod_agent&c=order&a=detail&ubzordno={$item['ordno']}"><font color="#0000ff">详细信息</font></a>][<a href="index.php?m=mod_b2b&a=home">回到首页联系客服</a>]</td>
    </tr>
  </table>
</div>
