<!--if($vd['table'] == 0){-->
{load(head)}
<body>

<div class="titleDiv" id="titleList">
<div style="float:left"><a href="index.php?a=Home"><img src="{$vd['sc']}images/home.png" style="vertical-align:middle" border="0"/></a></div><div style="float:left;padding-top:8px;padding-left:3px;"><a href="index.php?a=Home" title="回到后台首页"><font color="#000">桌面</font></a> <span style="font-size:7px;">>></span> <span style="font-size:12px;"><a href="index.php?m=mod_b2b&c=reward&{$vd['op']}" title="点击重新获取返点列表资料" onclick="loadDisp(1)"><font color="#000">返点列表</font></a></span> (共 <b><span id="tol1">{$vd['totlerow']}</span></b> 个)</div>
<div style="float:right"><a href="index.php?m=mod_home&a=Help&t=admin_b2b_card_index" onFocus="this.blur()" title="查看返点相关帮助"><img src="{$vd['sc']}images/help.gif" style="vertical-align:middle" border="0"/></a></div>
</div>
<div class="mytitle" id="mytitle">
  <div class="titleOp4" onmouseover="this.className='iconbg4'" onmouseout="this.className='titleOp4'" onclick="delAllSubmit('delitems')"><samp title="先选择您要删除的行,再点此按钮">
    <div style="padding-top:10px;padding-left:9px;">批量删除</div></samp>
  </div>
  <div class="titleOp2" onmouseover="this.className='iconbg2'" onmouseout="this.className='titleOp2'" onclick="tableRefresh()" style="margin-right:7px"><samp title="点击刷新本页刷新数据,并保持原来勾选状态">
    <div style="padding-top:10px;padding-left:9px;">刷新</div></samp>
  </div>
  <div class="titleOp4" onmouseover="this.className='iconbg4'" onmouseout="this.className='titleOp4'" onclick="disp('adddiv')"><samp title="点击刷新本页刷新数据,并保持原来勾选状态">
    <div class="addicon" style="padding-top:10px;padding-left:26px;">设置</div></samp>
  </div>
  <div style="float:right;padding-top:4px;">
    <form action="index.php" method="get" style="margin:0px 0px 0px 0px;" onsubmit="return searchSubmit()">
    经销商编号 <input type="text" name="aid" size="16" value="<!--echo request('aid');-->" style="vertical-align:middle;" class="custsearch"/>
    <input type="text" name="keywords" size="16" value="{$vd['keywords']}" style="vertical-align:middle;" class="custsearch"/>
    <select name="stype" style="vertical-align:middle;font-size:14px;">
      {#Option($vd['sarray'], $vd['stype'])}
    </select>
    <input type="hidden" name="m" value="mod_b2b" />
    <input type="hidden" name="c" value="reward" />
    <input type="hidden" name="by" value="1" />
    <input type="submit" value=" 搜 索 &gt;&gt;" style="vertical-align:middle;" class="button"/>
    </form>
  </div>
</div>
<div id="adddiv" style="position:absolute;top:50px;left:230px;;width:380px;display:none">
  <div style="padding:20px;background:#F1F5FA;border:5px #75BCD7 solid">
  <div style="font-size:14px;font-weight:bold;padding:5px;float:left">返点设置</div>
  <div style="float:right;"><img src="{$vd['sc']}images/destroy.gif" onclick="disp('adddiv')" style="cursor:pointer"/></div>
  <form name="form1" method="get" action="index.php" id="tform" style="clear:both">
  <table border="0" cellspacing="0" cellpadding="0" width="100%">
    <tr>
      <td width="35%">选择设置方式</td>
      <td width="65%">
      	<input type="radio" value="ByAidSet" name="a" class="checkbox" checked/>按客户设置 <input type="radio" value="ByPidSet" name="a"  class="checkbox"/>按商品设置
      </td>
    </tr>
    <tr>
      <td width="35%">选择用户</td>
      <td width="65%">
        <div style="float:left"><input type="text" name="aid" size="25" value=""/></div>
      </td>
    </tr>
    
    <tr>
      <td width="35%"></td>
      <td width="65%">
      	<input type="hidden" name="m" value="mod_b2b" />
        <input type="hidden" name="c" value="reward" />
        <input type="submit" value="开始设置" class="button"/>
        <input type="button" value="取 消" onclick="disp('adddiv')" class="button"/>
      </td>
    </tr>
  </table>
  </form>
  </div>
</div>
<div id="menuMask" class="menuMask" style="display:none">
  <form action="?m=mod_b2b&c=Tpl&tpl=reward" method="post" style="margin:0px">
  <div class="menuContent">
  <input type="checkbox" name="id[]" value="tpname" id="tpname" class="checkbox" onFocus='this.blur()'/> 商品名称<br/>
  <input type="checkbox" name="id[]" value="tpid" id="tpid" class="checkbox" onFocus='this.blur()'/> 商品编号<br/>
  <input type="checkbox" name="id[]" value="tptype" id="tptype" class="checkbox" onFocus='this.blur()'/> 商品类型<br/>
  <input type="checkbox" name="id[]" value="tstate" id="tstate" class="checkbox" onFocus='this.blur()'/> 状态<br/>
  <input type="checkbox" name="id[]" value="tlistprice" id="tlistprice" class="checkbox" onFocus='this.blur()'/> 面值<br/>
  <input type="checkbox" name="id[]" value="tprice" id="tprice" class="checkbox" onFocus='this.blur()'/> 进价<br/>
  <input type="checkbox" name="id[]" value="tcprice" id="tcprice" class="checkbox" onFocus='this.blur()'/> 售价<br/>
  <input type="checkbox" name="id[]" value="treward" id="treward" class="checkbox" onFocus='this.blur()'/> 返点比例<br/>
  </div>
  <div class="menuOp">
  <input type="submit" value="保存" class="button"/>
  <input type="button" value="重置" class="button" onclick="tInfoReset()"/>
  <input type="button" value="取消" class="button" onclick="setMenuMask()"/>
  </div>
  </form>
</div>

<table id="thead" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30px">
      <input name="chkall" id="chkall" type="checkbox" class="checkbox" onclick="CheckAll(this)" onFocus='this.blur()'/></td>
<!--//thead-->
<td width="250px"><b>商品名称</b></td>
<td width="60px"><b>商品编号</b></td>
<td width="65px"><b>商品类型</b></td>
<td width="60px"><b>状态</b></td>
<td width="70px"><b>面值</b></td>
<td width="70px"><b>进价</b></td>
<td width="70px"><b>售价</b></td>
<td width="70px"><b>返点比例</b></td>
<!--//endthead-->
    <td width="22px">
      <img src="{$vd['sc']}images/destroy.gif"/>
    </td>
    <td class="endtd">
      <div class="infoicon" onclick="setMenuMask()"><b><u>>></u></b></div>
    </td>
  </tr>
</table>
<div id="tip" style="display:none">
  <span id="tiptable">此页中所有 <b><span id="ncheck"><!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']--></span></b> 条记录已选中 </span> 
  <span id="tipspan">
    <a href="javascript:CheckTotle({$vd['totlerow']},0)">点此选择当前列表中所有 <b>{$vd['totlerow']}</b> 条记录>></a>
  </span>
</div>
<div id="content">
<!--}-->
  <!--if($vd['totlerow'] == 0) {-->
  <table  width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="right" colspan="20">无任何记录</td>
  </tr>
  </table>
  <!--}-->
  <form id="cform" name="form" method="post" action="index.php?m=mod_b2b&c=reward&a=ItemDeal" onsubmit="return Check();">
  <table id="tbody"  border="0" cellspacing="0" cellpadding="0">
  <!--foreach($vd['items'] as $item) {-->
  <tr onmouseover="setoverbg(this)" onmouseout="setoutbg(this)">
    <td width="30px">
      <input type="checkbox" name="id[]" id="idchk_{$item['id']}" class="checkbox" value="{$item['id']}" onclick="CheckThis(this)" onFocus='this.blur()'></input>
    </td>
<!--//tbody-->
<td width="250px"><nobr><samp title="{$item['pname']}"><!--if($item['pname']==''){--><font color="#cccccc">商品可能已被销毁</font><!--}else{-->{$item['pname']}<!--}--></samp></nobr></td>
<td width="60px">{$item['pid']}</td>
<td width="65px">{#ProductType($item['ptype'])}</td>
<td width="60px"><!--if($item['sell']&&$item['sell']){ echo '<font color="#0000ff">销售</font>';}else{ echo '<font color="#ff00ff">停售</font>';}--></td>
<td width="70px">{$item['listprice']}</td>
<td width="70px">{$item['price']}</td>
<td width="70px">{$item['listprice']}</td>
<td width="70px">{$item['reward']} %</td>
<!--//endtbody-->
    <td width="22px">
      <img src="{$vd['sc']}images/destroy.gif" onclick="delSubmit({$item['id']},'destroyitems')" alt="销毁返点,无法恢复" style="cursor:pointer"/>
    </td>
    <td class="endtd"></td>
  </tr>
  <!--}-->
  
</table>
</form>
<input type="hidden" value="{$vd['totlepage']}" id="totlePage"/>
<input type="hidden" value="{$vd['thispage']}" id="thisPage"/>
<!--if($vd['inrecycle']==0){-->
<input type="hidden" value="0" id="recycle_num"/>
<!--}-->
<!--if($vd['table'] == 0){-->
</div>

<input type="hidden" value="index.php?m=mod_b2b&c=reward&a=deals&{$vd['op']}" id="op"/>
<input type="hidden" value="index.php?m=mod_b2b&c=reward&istable=1&{$vd['op']}" id="url"/>
<input type="hidden" value="{$vd['op']}" id="params"/>
<div style="position:absolute;bottom:0px">
  <div class="tbBottom" id="tbBottom">
    <div style="float:left;padding-top:8px;">
      <strong> 总计 <font color="#ff0000"><span id="tol2">{$vd['totlerow']}</span></font> 条</strong>
    </div>
    <div style="float:right;text-align:right;">
    <form id="actionform" method="post" action="index.php?m=mod_b2b&c=reward&{$vd['op']}" style="margin:0px;" onsubmit="loadDisp(1)">
    <div id="page"></div>
    <div style="float:left;margin-top:3px">
      每页显示<input type="text" name="nrows" size="2" value="{$vd['nrows']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" /> 个 
      到第<input type="text" name="page" size="2" value="{$vd['thispage']}" class="pagetxt" onMouseOver="iEvent('mouseover',this)" onFocus="iEvent('focus',this)" onBlur="iEvent('blur',this)" onMouseOut="iEvent('mouseout',this)" />页<input type="submit" value=" 确 定 &gt;&gt;" class="pagesub" />
    </div>
    </form>
    </div>
  </div>
</div>
<div id="load" style="display:none;">
  <div id="loadcontent" >页面加载中请稍等...</div>
</div>
</body>
<script type="text/javascript">
//第一参数，后边保留显示的列数
//第二参数，除最后一个参数外的保留参数的总宽度
tRows   = <!--echo $vd['nrows'] < $vd['totlerow'] ? $vd['nrows'] : $vd['totlerow']-->;
tInfoA  = Array(1,29);
totleRows = {$vd['totlerow']};
<!--if($vd['inrecycle']){-->
deltxt  = "您确定进行清除此项返点么";
thisaction = "销毁";
<!--}else{-->
deltxt  = "您确定进行清除此项返点么";//"如果删除用户,用户相关信息也会被删除(包括返点信息，充值信息，留言信息等),您确定进行删除操作吗？";
thisaction = "清除";
<!--}-->
thisdel = 0;
onedel  = 0;
sc = "{$vd['sc']}";
statistics = 0;
var resizeidx = 1;
</script>
<script type="text/javascript">
//当前表格配置
<!--//tinfo-->
 tInfo = Array('tpname','tpid','tptype','tstate','tlistprice','tprice','tcprice','treward');
<!--//endtinfo-->
</script>
<script src="{$vd['sc']}js/tools.js" type="text/javascript"></script>
</html>
<!--}-->
