{load(head)}
<div class="ubLeftSide">
<!--$item=$vd['item']-->
<input type="hidden" id="id" name="id" value="{$item['id']}"/>
<table width="100%" border="1" cellpadding="10" cellspacing="0" height="95" style="border-collapse: collapse;" bordercolor="#cccccc">  
  <tr>
    <td align="left" style="padding:10px" bgcolor="#ffffff" >{$vd['web']['webname']} > <a href="{$vd['root']}index.php?m=mod_article"><font color="#000">文章中心</font></a> > <a href="{$vd['root']}index.php?m=mod_article&a=home&boardid={$vd['board']['id']}"><font color="#000">{$vd['board']['name']}</font></a> > 正文 </td>
  </tr>    
  <tr>
    <td bgcolor="#F7FCFF" style="padding:15px;" >
    <div class="heading">{$item['title']}</div>
    <div style="border-bottom:1px #cccccc solid;text-align:center;padding-bottom:5px;">发表于：{$item['ndate']} 【点击：<span id="tick">{$item['tick']}</span>次】 【找点卡】 【纠错】 【返回首页】 【发表/查看评论】</div>
    <div id="news">{#ubbcode($item['content'],$vd)}</div>
    <div style="margin:30px 0px; padding-bottom:20px;height:180px;border-top:1px #cccccc dashed;border-bottom:1px #cccccc dashed;"> 
      <table border="0" width="100%">
        <tr>
          <td colspan="12" style="padding:10px;text-align:left;color:#6c6c6c">看完这篇新闻有何感觉？ 已有<span id="rank1000">50</span>人表态</td>
        </tr>
        <tr>
          <td width="10%" height="180" align="center" valign="bottom"><span id="rank0">0</span><br/><div id="rpic0" class="commentcol"></div><img src="{$vd['content']}images/145.gif" /><br/>囧<br/><input type="radio" name="rank" onclick="SetRank(0)" style="cursor:pointer"/></td>
          <td width="10%" height="180" align="center" valign="bottom"><span id="rank1">0</span><br/><div id="rpic1" class="commentcol"></div><img src="{$vd['content']}images/117.gif" /><br/>恶心<br/><input type="radio" name="rank" onclick="SetRank(1)" style="cursor:pointer"/></td>
          <td width="10%" height="180" align="center" valign="bottom"><span id="rank2">0</span><br/><div id="rpic2" class="commentcol"></div><img src="{$vd['content']}images/113.gif" /><br/>期待<br/><input type="radio" name="rank" onclick="SetRank(2)" style="cursor:pointer"/></td>
          <td width="10%" height="180" align="center" valign="bottom"><span id="rank3">0</span><br/><div id="rpic3" class="commentcol"></div><img src="{$vd['content']}images/133.gif" /><br/>难过<br/><input type="radio" name="rank" onclick="SetRank(3)" style="cursor:pointer"/></td>
          <td width="10%" height="180" align="center" valign="bottom"><span id="rank4">0</span><br/><div id="rpic4" class="commentcol"></div><img src="{$vd['content']}images/115.gif" /><br/>不错<br/><input type="radio" name="rank" onclick="SetRank(4)" style="cursor:pointer"/></td>
          <td width="10%" height="180" align="center" valign="bottom"><span id="rank5">0</span><br/><div id="rpic5" class="commentcol"></div><img src="{$vd['content']}images/138.gif" /><br/>关注<br/><input type="radio" name="rank" onclick="SetRank(5)" style="cursor:pointer"/></td>
          <td width="10%" height="180" align="center" valign="bottom"><span id="rank6">0</span><br/><div id="rpic6" class="commentcol"></div><img src="{$vd['content']}images/123.gif" /><br/>有帮助<br/><input type="radio" name="rank" onclick="SetRank(6)" style="cursor:pointer"/></td>
          <td width="30%" height="180" align="center" valign="bottom"><div style="height:100px;BACKGROUND:url({$vd['content']}images/up_bg.gif) no-repeat 50% 0px;"><div id="rank20" style="font-size:2.2em;font-weight:bold;padding:8px 0 12px 0">0</div><img src="{$vd['content']}images/up.gif" style="cursor:pointer" onclick="SetRank(20)"/></div><div style="padding-bottom:20px">【<a href="#">查看别人的评论</a>】</div></td>
        </tr>
      </table>
    </div>
    <div class="coltitle"><span class="flright"><a href="qlist.html"></a></span>看看别人都买了什么</div>
    <div class="col box twolist minheight">
        <ul>
        <!--foreach($vd['goods'] as $a) {-->
        <li>
          <a href="<!--if($a['titlelink'] != ''){-->{$a['titlelink']}" target="_blank"<!--}else{-->{$vd['root']}article/{$a['id']}.html"<!--}--> title="{$a['title']}"> <font color="{$a['titlecolor']}">{#SubText($a['title'], 20)}</font></a></li>
        <!--}-->
        </ul>
    </div>
    </td>
  </tr>
</table>
</div>
<div class='ubtwoRight'>
  <div>
    <!--foreach($vd['ad'] as $aditem) {-->
    <!--if($aditem['ispic']==1 && $aditem['pos']==552){-->
    <div style="margin-bottom:8px;"><a href="{$aditem['url']}" target="_blank">
    <img src="{$vd['root']}{$vd['sc']}upload/{$aditem['pic']}" border='0'  width="100%" alt='{$aditem['text']}'></a><!--if($aditem['text'] != ''){--><br/><a href="{$aditem['url']}" target="_blank"><b><font color="{$aditem['textcolor']}">{$aditem['text']}</font></b></a><!--}-->
    </div>
    <!--}--><!--}-->
  </div>
  <div class="coltitle"><span class="flright"><a href="qlist.html">more..</a></span>相关文章</div>
  <div class="col box minheight">
      <ul>
      <!--foreach($vd['boardarticle'] as $a) {-->
      <li><a href="<!--if($a['titlelink'] != ''){-->{$a['titlelink']}" target="_blank"<!--}else{-->{$vd['root']}article/{$a['id']}.html"<!--}--> title="{$a['title']}"> <font color="{$a['titlecolor']}">{#SubText($a['title'], 20)}</font></a></li>
      <!--}-->
      </ul>
  </div>
</div>
<script src="{$vd['content']}js/detail.js"></script>
{load(foot)}
