<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>单级别价格模板</title>
    <link href="../../index/css/common.css" type="text/css" rel="stylesheet" />
    <link href="../../index/css/page.css" type="text/css" rel="stylesheet" />

<body class="mainbg">
<div class="new_qie">
  <div class="new_qie2">
    <h2>单级别价格模板(<a href="index.php?m=mod_b2b&amp;c=Price&amp;a=RankTpl">模板管理</a>）</h2>
  </div>
  <ul>
    <li><a href="index.php?m=mod_b2b&c=price"><span>模板价格管理</span></a></li>
	<li><a href="" class="on">单级别价格模板</a></li>
    <li><a href="index.php?m=mod_b2b&amp;c=product&amp;a=AgentPrice"><span >商品价格设置</span></a></li>
    <li><a href="index.php?m=mod_b2b&amp;c=product&amp;a=PrivatePriceProduct"><span>商品价格密价</span></a></li>
  </ul>
</div>
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="tableleft"><form name="bulletin" method="post" action="index.php?m=mod_b2b&c=Price&a=TplSave">
      <table width="100%" cellpadding="2" cellspacing="1" class="table1" style="margin: 0">
        <tr>
          <td class="table1_left">价格模板名称： </td>
          <td width="78%" class="tableright1"><div align="left">
            <input type="text" class="input0" name="name" maxlength="25" size="30" datatype="LimitB" min="1" max="25" msg="模板名称必须填写" />
          </div></td>
        </tr>
        <tr>
          <td class="table1_left"> 模板客户基本： </td>
          <td class="tableright1"><div align="left">
            <select name="rankid" id="rankid">
              
		      
      {#option($vd['rank'], 0, 'name', 'id')}
      
		      
            </select>
          </div></td>
        </tr>
        <tr>
          <td class="table1_left"> 复制原模板价格： </td>
          <td class="tableright1"><div align="left">
            <select name="parentid" id="parentid">
              <option value="0">不复制原模板价格</option>
              
		      
      {#option($vd['items'], 0, 'name', 'id')}
      
		      
            </select>
          </div></td>
        </tr>
        <tr>
          <td class="table1_left">&nbsp;</td>
          <td height="30" class="tableright1"><div align="left">
            <input type="submit" value="确认添加" class="tijiao_input" name="submit" />
            <input type="reset" value="重新填写" class="fanhui_input" name="reset" />
          </div></td>
        </tr>
      </table>
    </form></td>
  </tr>
</table>
	<script type="text/javascript">
	var $=function(id){
		return document.getElementById(id);
	}
	
	function disp(idx,val1,val2,val3,val4,val5)
	{
		$("name").value = val1;
		
		len = $("rankid").length;

		for(i=0; i<len; i++)
		{
			val = $("rankid").options[i].value;
			if(val2 == val)
			{
				$("rankid").options[i].selected = true;
			}
		}
		
		len = $("parentid").length;
		
		for(i=0; i<len; i++)
		{
			val = $("parentid").options[i].value;
			if(val3 == val)
			{
				$("parentid").options[i].selected = true;
			}
		}
		
		$("oldparentid").value = val4;
		$("id").value = val5;
		
		$(idx).style.display = ($(idx).style.display == "") ? "none" : "";
	}
</script>
</body>
</html>
