<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312" />
<TITLE>左栏帮助</TITLE>
<link href="content/skins/css/style_left.css" rel="stylesheet" type="text/css" />
</head>
<BODY>
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top" style="padding-top:10px; padding-left:6px;">
    <table class="alpha">
      <tr>
      <td valign="top" class="menu" id="menubar">
      <li><a href="webconfig.asp" target='frmright'>系统基本设置</a></li>
      <li><a href="artladd.asp" target='frmright'>添加商城新闻</a></li>
      <li><a href="orderlist.asp" target='frmright'>最新综合订单</a></li>
      <li><a href="custlist.asp" target='frmright'>所有会员管理</a></li>
      <li><a href="czlist.asp?optype=s" target='frmright'>会员成功充值记录</a></li>
      <li><a href="ask.asp" target='frmright'>会员留言</a></li>
      <li><a href="cat.asp?optype=2" target='frmright'>商品二级分类</a></li>
      <li><a href="prdadd.asp" target='frmright'>商品添加</a></li>
      <li><a href="prdlist.asp" target='frmright'>商品编辑</a></li>
      <li><a href="prdlist.asp" target='frmright'>批量加卡</a></li>
      <li><a href="profit.asp" target='frmright'>赢利统计</a></li>
      <li><a href="logout.asp" target='frmright'>退出</a></li>
      </td>
      </tr>
    </table>
  </td>
  </tr>
  <tr>
    <td class="copyright"><img src="content/skins/images/help_icon.gif" /> <a href="http://www.yingxkg.tk/" target=_blank>系统管理系统帮助</a></td>
  </tr>
  <tr>
    <td class="copyright"><img src="content/skins/images/ubz.gif" /> <a href="http://www.yingxkg.tk/" target=_blank>访问颖先卡购官方网站</a></td>
  </tr>
  <tr>
    <td class="copyright2"><a href="http://www.yingxkg.tk/" target=_blank>登陆颖先卡购商户获取支持</a></td>
  </tr>
  <tr>
    <td class="copyright2"><a href="http://www.yingxkg.tk" target=_blank>{$vd['version']}</a></td>
  </tr>
</table>
</body>
</html>
